USE [bodb_VR2Model]
GO
/****** Object:  StoredProcedure [dbo].[CTS_GeneralNormalClassification_RealTime_Complete]    Script Date: 4/26/2023 2:18:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTS_GeneralNormalClassification_RealTime_Complete]
	@ScannedMaxId BIGINT
AS
/*
	Created: 20230425@Jonas.Huynh
	Task : Get Customers who have new changed data 
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20221125@Jonas.Huynh: Combine Realtime Flow of General CC and By Sport [Redmine ID: #180805]
		- 20230425@Jonas.Huynh: Realtime Renovation [Redmine ID: #186678]

		Param's Explanation:

    Script:
        EXEC bodb_VR2Model.dbo.[CTS_GeneralNormalClassification_RealTime_Complete] @ScannedMaxId = 99;
*/
BEGIN
	
	SET NOCOUNT ON;

	IF @ScannedMaxId IS NOT NULL
	BEGIN
		DELETE r WITH (ROWLOCK)
		FROM dbo.CustomerClassification_RealtimeChanges as r
		WHERE r.ID <= @ScannedMaxId
	END;

END;
GO

GRANT EXECUTE ON [dbo].[CTS_GeneralNormalClassification_RealTime_Complete] TO [bodbSPUNet]
GO
GRANT VIEW DEFINITION ON [dbo].[CTS_GeneralNormalClassification_RealTime_Complete] TO [bodbSPUNet]
GO