USE [bodb_VR2Model]
GO
/****** Object:  StoredProcedure [dbo].[CTS_GeneralNormalClassification_RealTime_Preprocess]    Script Date: 4/26/2023 2:18:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[CTS_GeneralNormalClassification_RealTime_Preprocess]
		@ListCustId		VARCHAR(MAX)
AS
/*
	Created: 20230425@Jonas.Huynh
	Task : Get Customers who have new changed data 
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20221125@Jonas.Huynh: Combine Realtime Flow of General CC and By Sport [Redmine ID: #180805]
		- 20230425@Jonas.Huynh: Realtime Renovation [Redmine ID: #186678]
		- 20230601@Jonas.Huynh: Normal Renovation (Phase2) [Redmine ID: #186684]

		Param's Explanation:

    Script:
        EXEC bodb_VR2Model.dbo.[CTS_GeneralNormalClassification_RealTime_Preprocess]  @ListCustId = '1,2,3';
*/
BEGIN
	
	SET NOCOUNT ON;

	DECLARE	@FunctionId				SMALLINT = 1;

	DECLARE	@Priority				SMALLINT,
			@Priority_GroupId		TINYINT = 1,
			@Priority_ActionUnknown SMALLINT = 9999;

	IF OBJECT_ID('tempdb..#tmpCustomers') IS NOT NULL
	BEGIN
		DROP TABLE	#tmpCustomers;
	END

	CREATE TABLE #tmpCustomers (CustId INT PRIMARY KEY);

	-- #1: Get Customers
    INSERT INTO  #tmpCustomers (CustId) 
	SELECT DISTINCT CAST(value AS INT) CustId 
	FROM STRING_SPLIT(@ListCustId, ',');

	-- #2: Get priority
	SELECT @Priority = ISNULL(p.[Priority], @Priority_ActionUnknown)  
	FROM dbo.CustomerClassification_Priority AS p WITH(NOLOCK)
	WHERE p.GroupId = @Priority_GroupId AND p.FunctionId = @FunctionId;

	-- #3: Insert Normal Classification Pool
	EXEC dbo.CTS_GeneralNormalClassification_NormalPool_Insert @FunctionId = @FunctionId, @Priority = @Priority;
END;
GO

GRANT EXECUTE ON [dbo].[CTS_GeneralNormalClassification_RealTime_Preprocess] TO [bodbSPUNet]
GO
GRANT VIEW DEFINITION ON [dbo].[CTS_GeneralNormalClassification_RealTime_Preprocess] TO [bodbSPUNet]
GO