USE [bodb_VR2Model]
GO
/****** Object:  StoredProcedure [dbo].[CTS_BySportNormalClassification_RealTime_GetChanges]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTS_BySportNormalClassification_RealTime_GetChanges]
	@ScannedMaxId BIGINT OUTPUT
AS
/*
	Created: 20230630@Jonas.Huynh
	Task : Get Customers who have new changed data 
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20230630@Jonas.Huynh: Created [Redmine ID: #189875]

	Param's Explanation:

    Script:
		DECLARE @ScannedMaxId BIGINT
        EXEC bodb_VR2Model.dbo.[CTS_BySportNormalClassification_RealTime_GetChanges] @ScannedMaxId = @ScannedMaxId OUTPUT;
		SELECT @ScannedMaxId
*/
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @BatchSize INT = 20000;

	IF	OBJECT_ID('tempdb..#tmpResult') IS NOT NULL
	DROP TABLE	#tmpResult;

	CREATE TABLE #tmpResult(
		Id		   BIGINT PRIMARY KEY,
		CustId	   INT,
		SportGroup INT
	);

	-- #1: Get TOP data from pool 
	INSERT INTO #tmpResult(Id, CustId, SportGroup)
	SELECT TOP (@BatchSize) c.ID, c.CustId, c.SportGroup
	FROM dbo.CustomerClassification_BySport_RealtimeChanges AS c WITH(NOLOCK)
	ORDER BY c.ID ASC;

	--#2: Get MaxId
	SELECT @ScannedMaxId = MAX(ID)
	FROM #tmpResult AS a

	--#3: Return output
	SELECT DISTINCT CustId, SportGroup
	FROM #tmpResult;

END;
GO

GRANT EXECUTE ON [dbo].[CTS_BySportNormalClassification_RealTime_GetChanges] TO [bodbSPUNet]
GO
GRANT VIEW DEFINITION ON [dbo].[CTS_BySportNormalClassification_RealTime_GetChanges] TO [bodbSPUNet]
GO