/*<info serverAlias="DBVR2-bodb_VR2Model" executers="wsv_cts" isFunction="0" isNested="0"></info>*/
USE [bodb_VR2Model]
GO
/****** Object:  StoredProcedure [dbo].[CTS_CustomerStatistics_GetPerformance_ByBettype]    Script Date: 11/7/2022 5:21:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[CTS_CustomerStatistics_GetPerformance_ByBettype]
		@CustId		BIGINT
	,	@GetTop		SMALLINT
AS
/*
	Created: 20200730@Long.Luu
	Task : Get customer statistics by Bettype
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20200730@Long.Luu: Created [Redmine ID: #133270]
		- 20210531@John.Ngo: Exclude non-real Saba Sport on Customer Classification [Redmine ID: #155976]
		- 20210818@Long.Luu: Include Saba Sports [Redmine ID: #159012]
		- 20221107@Jonas.Huynh: Exclude WorldCup Performance [Redmine ID: #180211]
		- 20230110@Jonas.Huynh: Fix issue wrong Betcount and get perforamance from new table FactCustStatsInfo [Redmine ID: #182524]
		- 20240424@Jonas.Huynh: Exclude EC2024 [Redmine ID: #203600]
		
	Param's Explanation:
		exec [CTS_CustomerStatistics_GetPerformance_ByBettype] @GetTop = 4, @CustId = 69238654
*/
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @EURO_EVENT				TINYINT		= 3;
	DECLARE	@EVENT_YEAR2024			VARCHAR(10)	= '2024';
	
	DECLARE @LEAGUE_INVALID			SMALLINT	= -1,
			@LEAGUE_MIXPARLAY		SMALLINT	= -2,
			@LEAGUE_COLOSSUSBETS	SMALLINT	= -3;

	DECLARE @BETTYPE_OTHERS			SMALLINT	= -99,
			@BETTYPE_ODDSPREAD		SMALLINT	= 999;

	DECLARE @TICKETSTATUS_DRAW		SMALLINT	= 3,
			@TICKETSTATUS_LOSE		SMALLINT	= 4,
			@TICKETSTATUS_WON		SMALLINT	= 8,
			@TICKETSTATUS_HALFLOSE	SMALLINT	= 12,
			@TICKETSTATUS_HALFWON	SMALLINT	= 13;

	DECLARE	@ToDate					DATE		= DATEADD(DAY, -1, GETDATE());
	DECLARE	@From90Date				DATE		= DATEADD(DAY, - 90, @ToDate);

	IF	OBJECT_ID('tempdb..#tmpRawData') IS NOT NULL
		DROP TABLE	#tmpRawData;

	CREATE TABLE #tmpRawData(
		[BettypeId]			SMALLINT		NOT NULL,
		[LiveIndicator]		BIT				NOT NULL,
		[LeagueId]			INT				NOT NULL,
		[BetCount]			BIGINT			NULL,
		[Turnover]			DECIMAL(19,4)	NULL,
		[Winloss]			DECIMAL(19,4)	NULL
	);

	CREATE CLUSTERED INDEX CIX_tmpRawData_BettypeId_LiveIndicator ON #tmpRawData(
		[BettypeId], 
		[LiveIndicator]
	);

	CREATE NONCLUSTERED INDEX IX_tmpRawData_LeagueID_BettypeId ON #tmpRawData(
		LeagueID,
		BettypeId
	);

	IF	OBJECT_ID('tempdb..#tmpCustomerAccummulatedInfo ') IS NOT NULL
		DROP TABLE	#tmpCustomerAccummulatedInfo;

	CREATE TABLE #tmpCustomerAccummulatedInfo(
		[BettypeId]			SMALLINT		NOT NULL,
		[LiveIndicator]		BIT				NOT NULL,	
		[BetCount]			BIGINT			NULL,
		[Turnover]			DECIMAL(19,4)	NULL,
		[Winloss]			DECIMAL(19,4)	NULL
		PRIMARY KEY (BettypeId, LiveIndicator)
	);

	IF	OBJECT_ID('tempdb..#tmpSumByBettypeData') IS NOT NULL
		DROP TABLE	#tmpSumByBettypeData;

	CREATE TABLE #tmpSumByBettypeData(
		[BettypeId]			SMALLINT		 NOT NULL,
		[TurnoverRank]		SMALLINT DEFAULT (0) NOT NULL,
		[Turnover]			DECIMAL(19,4)	 NULL,
		[Winloss]			DECIMAL(19,4)	 NULL,
		[BetCount]			BIGINT			 NULL,
		PRIMARY KEY (BettypeId, TurnoverRank)
	);

	-- #1. Get raw data for all sports
	INSERT INTO #tmpRawData(BettypeId, LiveIndicator, LeagueId, Turnover, Winloss, BetCount)
	SELECT 	f.BetType
		,	CASE WHEN f.LiveStatus IN (0,2) THEN 0 ELSE 1 END AS LiveStatus
		,	f.LeagueID
		,	f.MemberTurnover * ex.Rate
		,	f.MemberWinloss * ex.Rate
		,	f.BetCount
	FROM bodb_Account.dbo.FactCustStatsInfo AS f WITH(NOLOCK) 
		LEFT JOIN bodb_account.dbo.tbl_Currency_Daily AS ex WITH(NOLOCK) ON f.RptDate = ex.ExchangeDate AND f.CurrencyID = ex.Currency
	WHERE CustID = @CustId
			AND f.RptDate >= @From90Date 
			AND f.RptDate <= @ToDate
			AND f.TicketStatus IN (@TICKETSTATUS_DRAW, @TICKETSTATUS_LOSE, @TICKETSTATUS_WON, @TICKETSTATUS_HALFLOSE, @TICKETSTATUS_HALFWON);

	-- #2. Exclude WC2022, EC2024
	DELETE s
	FROM #tmpRawData AS s WITH(NOLOCK)
		JOIN bodb02.dbo.[League] AS l WITH(NOLOCK) ON s.LeagueID = l.leagueid 
	WHERE l.leagueid > 0  -- exclude Invalid, MixParlay, ColossusBets
		AND l.DisplayMode = @EURO_EVENT 
		AND l.ProgramID = @EVENT_YEAR2024;
	
	DELETE s
	FROM #tmpRawData AS s WITH(NOLOCK)
	WHERE s.LeagueId = @LEAGUE_INVALID AND s.BettypeId = @BETTYPE_ODDSPREAD;

	-- #3.	Accummulate performance
	INSERT INTO #tmpCustomerAccummulatedInfo(BettypeId, LiveIndicator, Turnover, Winloss, BetCount)
	SELECT	BettypeId
		,	LiveIndicator
		,	SUM(Turnover)
		,	SUM(Winloss)
		,	SUM(BetCount)
	FROM #tmpRawData AS s WITH(NOLOCK)	
	GROUP BY BettypeId, LiveIndicator;

	-- #4. Sum turnover for each bettype
	INSERT INTO #tmpSumByBettypeData(BettypeId, Turnover, Winloss, BetCount)
	SELECT	s.BettypeId
		,	SUM(s.Turnover)
		,	SUM(s.Winloss)
		,	SUM(s.BetCount)
	FROM #tmpCustomerAccummulatedInfo AS s WITH(NOLOCK)
	GROUP BY s.BettypeId;
	
	-- #5. Ranking performance by BettypeIds
	UPDATE t1 WITH(ROWLOCK, UPDLOCK)
	SET t1.TurnoverRank = t2.RowNum
	FROM #tmpSumByBettypeData AS t1
		INNER JOIN	(
						SELECT	s.BettypeId
							,	ROW_NUMBER() OVER(ORDER BY s.Turnover DESC, s.Winloss DESC, s.BetCount DESC) AS RowNum
						FROM #tmpSumByBettypeData AS s
					) AS t2 ON t1.BettypeId = t2.BettypeId;
						
	-- #6. Return results
	SELECT	s.BettypeId
		,	b.typenamee 	AS BettypeName
		,	s.TurnoverRank 	AS Ranking
		,	r.LiveIndicator
		,	r.Turnover
		,	r.Winloss
		,	r.BetCount
	FROM #tmpSumByBettypeData AS s WITH(NOLOCK)
		INNER JOIN #tmpCustomerAccummulatedInfo AS r WITH(NOLOCK) ON s.BettypeId = r.BettypeId
		INNER JOIN bodb_Account.dbo.Bettype AS b WITH(NOLOCK) ON s.BettypeId = b.typeid
	WHERE s.TurnoverRank <= @GetTop
	UNION
	SELECT	@BETTYPE_OTHERS 	AS BettypeId
		,	'Others' 			AS BettypeName
		,	(@GetTop + 1) 		AS Ranking
		,	r.LiveIndicator 	AS LiveIndicator
		,	SUM(r.Turnover) 	AS Turnover
		,	SUM(r.Winloss) 		AS Winloss
		,	SUM(r.BetCount) 	AS BetCount
	FROM #tmpSumByBettypeData AS s WITH(NOLOCK)
		INNER JOIN #tmpCustomerAccummulatedInfo AS r WITH(NOLOCK) ON s.BettypeId = r.BettypeId
	WHERE s.TurnoverRank > @GetTop
	GROUP BY r.LiveIndicator;
END;
GO

GRANT EXECUTE ON [dbo].[CTS_CustomerStatistics_GetPerformance_ByBettype] TO [wsv_cts]
GO
GRANT VIEW DEFINITION ON [dbo].[CTS_CustomerStatistics_GetPerformance_ByBettype] TO [wsv_cts]
GO