USE [bodb_VR2Model]
GO
/****** Object:  StoredProcedure [dbo].[CTS_NormalAccountsClassification_Monitor_RealTime_GetChanges]    ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CTS_NormalAccountsClassification_Monitor_RealTime_GetChanges]
		@FromScannedTime		DATETIME 
	,	@ToScannedTime			DATETIME
AS
/*
	Created: 20220901@Jonas.Huynh
	Task : Get customer have new placebet top monitor classification
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20230225@Jonas.Huynh: Created [Redmine ID: #183278]

	Param's Explanation:	
		EXEC [dbo].[CTS_NormalAccountsClassification_Monitor_RealTime_GetChanges]
				@FromScannedTime = N'2023-02-10',
				@ToScannedTime = N'2023-02-28',
*/
BEGIN
	
	SET NOCOUNT ON;

	SELECT DISTINCT c.CustId
	FROM [dbo].[CustomerClassification_Monitor_Realtime] AS c WITH(NOLOCK)
	WHERE c.CreatedDate >= @FromScannedTime AND c.CreatedDate < @ToScannedTime

END;
GO

GRANT EXECUTE ON [dbo].[CTS_NormalAccountsClassification_Monitor_RealTime_GetChanges] TO [bodbSPUNet]
GO
GRANT VIEW DEFINITION ON [dbo].[CTS_NormalAccountsClassification_Monitor_RealTime_GetChanges] TO [bodbSPUNet]
GO