USE [bodb_VR2Model]
GO
/****** Object:  StoredProcedure [dbo].[CTS_GeneralNormalClassification_Daily_Preprocess]    Script Date: 06/01/2023 2:56:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTS_GeneralNormalClassification_Daily_Preprocess]
	@ListCustId		VARCHAR(MAX)
AS
/*
	Created: 20230601@Jonas.Huynh
	Task :  Insert custIds to Normal Classification pool
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20230601@Jonas.Huynh: Created [Redmine ID: #186684]

		Param's Explanation:

    Script:
        EXEC bodb_VR2Model.dbo.[CTS_GeneralNormalClassification_Daily_Preprocess]  @ListCustId = '1,2,3';
*/
BEGIN
	
	SET NOCOUNT ON;

	DECLARE	@FunctionId				TINYINT	= 3;

	DECLARE	@ToDate					DATE = GETDATE();
	
	DECLARE	@Priority				SMALLINT,
			@Priority_GroupId		TINYINT = 1,
			@Priority_ActionUnknown SMALLINT = 9999;
	
	IF OBJECT_ID('tempdb..#tmpCustomers') IS NOT NULL
	BEGIN
		DROP TABLE	#tmpCustomers;
	END

	CREATE TABLE #tmpCustomers (CustId INT PRIMARY KEY);

	-- #1: Get Customers
    INSERT INTO  #tmpCustomers (CustId) 
	SELECT DISTINCT CAST(value AS INT) CustId 
	FROM STRING_SPLIT(@ListCustId, ',');

	-- #2: Remove disabled accounts
	DELETE r WITH(ROWLOCK)
	FROM #tmpCustomers AS r
		LEFT JOIN bodb02.dbo.custInfo AS c WITH(NOLOCK) ON r.CustId = c.custid
	WHERE c.[Enabled] = 0;

	-- #3. Remove scanned daily customers
	DELETE a WITH (ROWLOCK)
	FROM #tmpCustomers AS a
		INNER JOIN [dbo].[CustomerClassification_ScannedDailyCust] AS b ON a.CustId = b.CustId
	WHERE b.CreatedDate = @ToDate

	-- #4. Get Priority
	SELECT @Priority = ISNULL(p.[Priority], @Priority_ActionUnknown)  
	FROM dbo.CustomerClassification_Priority AS p WITH(NOLOCK)
	WHERE p.GroupId = @Priority_GroupId AND p.FunctionId = @FunctionId;

	-- #5: Insert Normal Classification Pool
	EXEC dbo.CTS_GeneralNormalClassification_NormalPool_Insert @FunctionId = @FunctionId, @Priority = @Priority;

END;
GO

GRANT EXECUTE ON [dbo].[CTS_GeneralNormalClassification_Daily_Preprocess] TO [bodbSPUNet]
GO
GRANT VIEW DEFINITION ON [dbo].[CTS_GeneralNormalClassification_Daily_Preprocess] TO [bodbSPUNet]
GO