/*<info serverAlias="DBVR2-bodb_VR2Model" executers="wsv_cts" isFunction="0" isNested="0"></info>*/
USE [bodb_VR2Model]
GO
/****** Object:  StoredProcedure [dbo].[CTS_CustomerStatistics_GetPerformance_BySport]    Script Date: 11/7/2022 5:21:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[CTS_CustomerStatistics_GetPerformance_BySport]
		@CustId		BIGINT
	,	@GetTop		SMALLINT
AS
/*
	Created: 20200730@Long.Luu
	Task : Get Customer statistics by sport
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20200730@Long.Luu: Created [Redmine ID: #133270]
		- 20210531@John.Ngo: Exclude non-real Saba Sport on Customer Classification [Redmine ID: #155976]
		- 20210818@Long.Luu: Include Saba Sports [Redmine ID: #159012]
		- 20221107@Jonas.Huynh: Exclude WorldCup Performance [Redmine ID: #180211]
		- 20230110@Jonas.Huynh: Fix issue wrong Betcount and get perforamance from new table FactCustStatsInfo [Redmine ID: #182524]
		- 20230623@Jonas.Huynh: No Classification with no ticket/performance [Redmine ID: #189859]
		- 20240424@Jonas.Huynh: Exclude EC2024 and add Bettype = 38 into Parlay Group [Redmine ID: #203600]

	Param's Explanation:
		exec [CTS_CustomerStatistics_GetPerformance_BySport_xtest] @GetTop = 4, @CustId = 67918029
*/
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @SPORT_PARLAY				SMALLINT	= -100;
	DECLARE @SPORT_NONSPORTS			SMALLINT	= -99;
	DECLARE @SPORT_SABA_SOCCER			SMALLINT	= -98;
	DECLARE @SPORT_SABA_BASKETBALL		SMALLINT	= -97;
	DECLARE @SPORT_SABA_OTHERSPORTS		SMALLINT	= -96;
	DECLARE @SPORT_OTHERSPORTS			SMALLINT	= -95;

	DECLARE	@ToDate						DATE		= DATEADD(DAY, -1, GETDATE());
	DECLARE	@From90Date					DATE		= DATEADD(DAY, - 90, @ToDate);

	DECLARE @EURO_EVENT					TINYINT		= 3;
	DECLARE	@EVENT_YEAR2024				VARCHAR(10)	= '2024';

	DECLARE @LEAGUE_INVALID				SMALLINT	= -1,
			@LEAGUE_MIXPARLAY			SMALLINT	= -2,
			@LEAGUE_COLOSSUSBETS		SMALLINT	= -3;

	DECLARE @PRODUCT_SPORTSBOOK			SMALLINT	= 1;

	DECLARE @BETTYPE_MIXPARLAY			SMALLINT	= 9,
			@BETTYPE_SYSTEMPARLAY		SMALLINT	= 29,
			@BETTYPE_SINGLEMATCHPARLAY	SMALLINT	= 38,
			@BETTYPE_ODDSPREAD			SMALLINT	= 999;

	DECLARE @TICKETSTATUS_DRAW			SMALLINT	= 3,
			@TICKETSTATUS_LOSE			SMALLINT	= 4,
			@TICKETSTATUS_WON			SMALLINT	= 8,
			@TICKETSTATUS_HALFLOSE		SMALLINT	= 12,
			@TICKETSTATUS_HALFWON		SMALLINT	= 13

	IF	OBJECT_ID('tempdb..#tmpRawData') IS NOT NULL
		DROP TABLE	#tmpRawData;

	CREATE TABLE #tmpRawData(
		[RptDate]			DATE			NOT NULL,
		[SportId]			SMALLINT		NOT NULL,
		[LeagueId]			INT				NOT NULL,
		[BettypeId]			SMALLINT		NOT NULL,
		[BetCount]			BIGINT			NULL,
		[Turnover]			DECIMAL(19,4)	NULL,
		[Winloss]			DECIMAL(19,4)	NULL,
		[LeagueGroupID]		SMALLINT		NULL,
		[DisplayMode]		SMALLINT		NULL,
		[ProgramID]			VARCHAR(20)		NULL
	);

	CREATE CLUSTERED INDEX CIX_tmpRawData_RptDate_SportId_Bettype_LeagueId_LeagueGroup ON #tmpRawData(
		[RptDate], 
		[SportId],
		[BettypeId], 
		[LeagueId],
		[LeagueGroupID]
	);

	CREATE NONCLUSTERED INDEX IX_tmpRawData_LeagueId_BettypeId ON #tmpRawData(
		[LeagueId],
		[BettypeId]
	);

	CREATE NONCLUSTERED INDEX IX_tmpRawData_DisplayMode_ProgramID ON #tmpRawData(
		[DisplayMode],
		[ProgramID]
	);

	IF	OBJECT_ID('tempdb..#tmpCustomerAccummulatedInfo') IS NOT NULL
		DROP TABLE	#tmpCustomerAccummulatedInfo;

	CREATE TABLE #tmpCustomerAccummulatedInfo(
		[RptDate]			DATE			NOT NULL,
		[SportId]			SMALLINT		NOT NULL,
		[BetCount]			BIGINT			NULL,
		[BettypeId]			SMALLINT		NOT NULL,
		[LeagueId]			INT				NOT NULL,
		[LeagueGroupID]		SMALLINT		NULL,
		[Turnover]			DECIMAL(19,4)	NULL,
		[Winloss]			DECIMAL(19,4)	NULL
	);

	CREATE CLUSTERED INDEX CIX_tmpCustomerAccummulatedInfo_RptDate_SportId_Bettype_LeagueId_LeagueGroup ON #tmpCustomerAccummulatedInfo(
		[RptDate], 
		[SportId],
		[BettypeId], 
		[LeagueId],
		[LeagueGroupID]
	);

	CREATE NONCLUSTERED INDEX IX_tmpCustomerAccummulatedInfo_SportId_BettypeId ON #tmpCustomerAccummulatedInfo(
		[SportId],
		[BettypeId]
	);

	CREATE NONCLUSTERED INDEX IX_tmpCustomerAccummulatedInfo_LeagueGroupID_BettypeId ON #tmpCustomerAccummulatedInfo(
		[LeagueGroupID],
		[BettypeId]
	);

	IF	OBJECT_ID('tempdb..#tmpNonSports') IS NOT NULL
		DROP TABLE	#tmpNonSports;

	CREATE TABLE #tmpNonSports(
		[RptDate]			DATE			NOT NULL,
		[Turnover]			DECIMAL(19,4)	NULL,
		[Winloss]			DECIMAL(19,4)	NULL,
		[BetCount]			BIGINT			NULL
	);

	CREATE CLUSTERED INDEX CIX_tmpNonSports_RptDate	ON #tmpNonSports (RptDate);

	IF	OBJECT_ID('tempdb..#tmpSABA') IS NOT NULL
		DROP TABLE	#tmpSABA;

	CREATE TABLE #tmpSABA(
		[RptDate]			DATE			NOT NULL,
		[SportId]			SMALLINT		NOT NULL,
		[LeagueId]			INT				NOT NULL,
		[BettypeId]			SMALLINT		NOT NULL,
		[Turnover]			DECIMAL(19,4)	NULL,
		[Winloss]			DECIMAL(19,4)	NULL,
		[BetCount]			BIGINT			NULL
	);

	CREATE CLUSTERED INDEX CIX_tmpSABA_SportId ON #tmpSABA(
		[SportId]
	);

	IF	OBJECT_ID('tempdb..#tmpSportDailyData') IS NOT NULL
		DROP TABLE	#tmpSportDailyData;

	CREATE TABLE #tmpSportDailyData(
		[RptDate]			DATE			NOT NULL,
		[SportId]			SMALLINT		NOT NULL,
		[Turnover]			DECIMAL(19,4)	NULL,
		[Winloss]			DECIMAL(19,4)	NULL,
		[BetCount]			BIGINT			NULL
		PRIMARY KEY (RptDate, SportId)
	);

	CREATE NONCLUSTERED INDEX IX_tmpSportDailyData_SportId ON #tmpSportDailyData(
		[SportId]
	);

	IF	OBJECT_ID('tempdb..#tmpSumBySportData') IS NOT NULL
		DROP TABLE	#tmpSumBySportData;

	CREATE TABLE #tmpSumBySportData(
		[SportId]			SMALLINT				NOT NULL,
		[TurnoverRank]		SMALLINT DEFAULT (0)	NOT NULL,
		[Turnover]			DECIMAL(19,4)			NULL,
		[Winloss]			DECIMAL(19,4)			NULL,
		[BetCount]			BIGINT					NULL
		PRIMARY KEY (SportId, TurnoverRank)
	);

	IF	OBJECT_ID('tempdb..#tmpSabaLeagueGroup') IS NOT NULL
		DROP TABLE	#tmpSabaLeagueGroup;

	CREATE TABLE #tmpSabaLeagueGroup(
		[LeagueGroupId]	INT PRIMARY KEY
	);


	-- #1. Get raw data for all sports
	INSERT INTO #tmpRawData(RptDate, SportId, BettypeId, LeagueId, BetCount, Turnover, Winloss)
	SELECT 	f.RptDate
		,	f.SportType
		,	f.BetType
		,	f.LeagueID
		,	f.BetCount
		,   f.MemberTurnover * ex.Rate
		,	f.MemberWinloss * ex.Rate
	FROM bodb_Account.dbo.FactCustStatsInfo AS f WITH(NOLOCK)  
		LEFT JOIN bodb_account.dbo.tbl_Currency_Daily AS ex WITH(NOLOCK) ON f.RptDate = ex.ExchangeDate AND f.CurrencyID = ex.Currency
	WHERE f.CustID = @CustId
			AND f.RptDate >= @From90Date 
			AND f.RptDate <= @ToDate
			AND f.TicketStatus IN (@TICKETSTATUS_DRAW, @TICKETSTATUS_LOSE, @TICKETSTATUS_WON, @TICKETSTATUS_HALFLOSE, @TICKETSTATUS_HALFWON);

	-- #2. Get more info
	UPDATE s WITH(ROWLOCK, UPDLOCK)
	SET s.LeagueGroupID = l.LeagueGroupID
		, s.DisplayMode = l.DisplayMode
		, s.ProgramID = l.ProgramID
	FROM #tmpRawData AS s
		LEFT JOIN bodb02.dbo.[League] AS l WITH(NOLOCK) ON s.LeagueID = l.leagueid
	WHERE l.leagueid > 0  -- exclude Invalid, MixParlay, ColossusBets

	-- #3. Exclude WC2022, EC2024
	DELETE s
	FROM #tmpRawData AS s WITH(NOLOCK)
	WHERE s.DisplayMode = @EURO_EVENT 
		AND s.ProgramID = @EVENT_YEAR2024;

	DELETE s
	FROM #tmpRawData AS s WITH(NOLOCK)
	WHERE s.LeagueId = @LEAGUE_INVALID AND s.BettypeId = @BETTYPE_ODDSPREAD;

	-- #4.	Accummulate performance
	INSERT INTO #tmpCustomerAccummulatedInfo(RptDate, SportId, BettypeId, LeagueId, LeagueGroupID, BetCount, Turnover, Winloss)
	SELECT	RptDate
		,	SportId
		,	BettypeId
		,	LeagueID
		,	LeagueGroupID
		,	SUM(s.BetCount)
		,	SUM(s.Turnover)
		,	SUM(s.Winloss)
	FROM #tmpRawData AS s WITH(NOLOCK)	
	GROUP BY RptDate, SportId, BettypeId, LeagueId, LeagueGroupID;

	-- #5. Separate data of Non-Sports
	DELETE s
	OUTPUT DELETED.RptDate, DELETED.Turnover, DELETED.Winloss, DELETED.BetCount
	INTO #tmpNonSports (RptDate, Turnover, Winloss, BetCount)
	FROM #tmpCustomerAccummulatedInfo AS s WITH(NOLOCK)
		INNER JOIN bodb02.dbo.SportBettypeMatrix AS m WITH(NOLOCK) ON s.SportId = m.SportType AND s.BettypeId = m.BetType
	WHERE m.ProductID <> @PRODUCT_SPORTSBOOK;

	INSERT INTO #tmpSportDailyData(RptDate, SportId, Turnover, Winloss, BetCount)
	SELECT	s.RptDate
		,	@SPORT_NONSPORTS
		,	SUM(s.Turnover)
		,	SUM(s.Winloss)
		,	SUM(s.BetCount)
	FROM #tmpNonSports AS s WITH(NOLOCK)
	GROUP BY s.RptDate;

	-- #6. Separate data of SABA
	DECLARE @SabaLeagueGroup VARCHAR(500);
    SELECT @SabaLeagueGroup = st.VValue
  	FROM bodb_account.dbo.SystemSettings AS st WITH(NOLOCK)
	WHERE st.VID = 5;

	INSERT #tmpSabaLeagueGroup(LeagueGroupId)
	SELECT DISTINCT value
	FROM STRING_SPLIT(@SabaLeagueGroup, ',');

	DELETE s
	OUTPUT DELETED.RptDate, DELETED.SportId, DELETED.LeagueId, DELETED.BettypeId, DELETED.Turnover, DELETED.Winloss, DELETED.BetCount
	INTO #tmpSABA(RptDate, SportId, LeagueId, BettypeId, Turnover, Winloss, BetCount)
	FROM #tmpCustomerAccummulatedInfo AS s WITH(NOLOCK)
		INNER JOIN #tmpSabaLeagueGroup AS sb ON s.LeagueGroupID = sb.LeagueGroupId
	WHERE s.BettypeId NOT IN (@BETTYPE_MIXPARLAY, @BETTYPE_SYSTEMPARLAY, @BETTYPE_SINGLEMATCHPARLAY)
	
	INSERT INTO #tmpSportDailyData(RptDate, SportId, Turnover, Winloss, BetCount)
	SELECT	s.RptDate
		,	@SPORT_SABA_SOCCER
		,	SUM(s.Turnover)
		,	SUM(s.Winloss)
		,	SUM(s.BetCount)
	FROM #tmpSABA AS s WITH(NOLOCK)
	WHERE s.SportId = 1
	GROUP BY s.RptDate;

	INSERT INTO #tmpSportDailyData(RptDate, SportId, Turnover, Winloss, BetCount)
	SELECT	s.RptDate
		,	@SPORT_SABA_BASKETBALL
		,	SUM(s.Turnover)
		,	SUM(s.Winloss)
		,	SUM(s.BetCount)
	FROM #tmpSABA AS s WITH(NOLOCK)
	WHERE	s.SportId = 2
	GROUP BY s.RptDate;

	INSERT INTO #tmpSportDailyData(RptDate, SportId, Turnover, Winloss, BetCount)
	SELECT	s.RptDate
		,	@SPORT_SABA_OTHERSPORTS
		,	SUM(s.Turnover)
		,	SUM(s.Winloss)
		,	SUM(s.BetCount)
	FROM #tmpSABA AS s WITH(NOLOCK)
	WHERE s.SportId NOT IN (1, 2)
	GROUP BY s.RptDate;

	-- #7. Sum data for all sports except Parlay
	INSERT INTO #tmpSportDailyData(RptDate, SportId, Turnover, Winloss, BetCount)
	SELECT	s.RptDate
		,	s.SportId
		,	SUM(s.Turnover)
		,	SUM(s.Winloss)
		,	SUM(s.BetCount)
	FROM #tmpCustomerAccummulatedInfo AS s WITH(NOLOCK)
	WHERE s.BettypeId NOT IN (@BETTYPE_MIXPARLAY, @BETTYPE_SYSTEMPARLAY, @BETTYPE_SINGLEMATCHPARLAY)
	GROUP BY s.RptDate, s.SportId;

	-- #8. Sum data for Parlay
	INSERT INTO #tmpSportDailyData(RptDate, SportId, Turnover, Winloss, BetCount)
	SELECT	s.RptDate
		,	@SPORT_PARLAY
		,	SUM(s.Turnover)
		,	SUM(s.Winloss)
		,	SUM(s.BetCount)
	FROM #tmpCustomerAccummulatedInfo AS s WITH(NOLOCK)
	WHERE s.BettypeId IN (@BETTYPE_MIXPARLAY, @BETTYPE_SYSTEMPARLAY, @BETTYPE_SINGLEMATCHPARLAY)
	GROUP BY s.RptDate;

	-- #9. Finally sum for sports
	INSERT INTO #tmpSumBySportData(SportId, Turnover, Winloss, BetCount)
	SELECT	s.SportId
		,	SUM(s.Turnover)
		,	SUM(s.Winloss)
		,	SUM(s.BetCount)
	FROM #tmpSportDailyData AS s WITH(NOLOCK)
	GROUP BY s.SportId;

	-- #10. Ranking performance by SportIds
	UPDATE t1 WITH(ROWLOCK, UPDLOCK)
	SET t1.TurnoverRank = t2.RowNum
	FROM #tmpSumBySportData AS t1
		INNER JOIN	(
						SELECT	s.SportId
							,	ROW_NUMBER() OVER(ORDER BY s.Turnover DESC, s.Winloss DESC, s.BetCount DESC) AS RowNum
						FROM #tmpSumBySportData AS s
					) AS t2 ON t1.SportId = t2.SportId;

	-- #11 Return results
	WITH cte_betTrans AS  (  
		SELECT	s.SportId
			,	CASE 
					WHEN s.SportId = @SPORT_PARLAY				THEN 'Parlay'
					WHEN s.SportId = @SPORT_NONSPORTS			THEN 'Non-Sports'
					WHEN s.SportId = @SPORT_SABA_SOCCER			THEN 'Saba-Soccer'
					WHEN s.SportId = @SPORT_SABA_BASKETBALL		THEN 'Saba-Basketball'
					WHEN s.SportId = @SPORT_SABA_OTHERSPORTS	THEN 'Saba-Other Sports'
					ELSE a.sport 
				END AS SportName
			,	s.TurnoverRank AS Ranking
			,	s.Turnover
			,	s.Winloss
			,	s.BetCount
		FROM #tmpSumBySportData AS s WITH(NOLOCK)
			LEFT JOIN bodb_Account.dbo.tbl_Sport AS a WITH(NOLOCK) ON s.SportId = a.sportid
		WHERE s.TurnoverRank <= @GetTop
		UNION
		SELECT	@SPORT_OTHERSPORTS	AS SportId
			,	'Others'			AS SportName
			,	(@GetTop + 1)		AS Ranking
			,	SUM(s.Turnover)		AS Turnover
			,	SUM(s.Winloss)		AS Winloss
			,	SUM(s.BetCount)		AS BetCount
		FROM #tmpSumBySportData AS s WITH(NOLOCK)
		WHERE s.TurnoverRank > @GetTop
	)
	SELECT  SportId
		,  SportName
		,  Ranking
		,  Turnover
		,  Winloss
		,  BetCount
	FROM cte_betTrans WHERE BetCount > 0;
END;
GO

GRANT EXECUTE ON [dbo].[CTS_CustomerStatistics_GetPerformance_BySport] TO [wsv_cts]
GO
GRANT VIEW DEFINITION ON [dbo].[CTS_CustomerStatistics_GetPerformance_BySport] TO [wsv_cts]
GO