/*<info serverAlias="DBVR2-bodb_VR2Model" executers="wsv_cts" isFunction="0" isNested="0"></info>*/
USE [bodb_VR2Model]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTS_BySportNormalClassification_NormalAccount_Complete]
	@ScannedMaxId BIGINT
AS
/*
	Created: 20230704@Jonas.Huynh
	Task : 
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20230704@Jonas.Huynh: Created [Redmine ID: #189875]
		- 20240216@Jonas.Huynh: Resolve Blocking [Redmine ID: #200973]
		- 20240327@Jonas.Huynh: EC2024 - Resolve Locking [Redmine ID: #200842]

	Param's Explanation:
		@ScannedMaxId: To remove customer who are processed base on scanned maxID and ListCustId
    Script:
        EXEC bodb_VR2Model.dbo.CTS_BySportNormalClassification_NormalAccount_Complete @ScannedMaxId = 123;
*/

BEGIN
	
	SET NOCOUNT ON;

	DECLARE @BYSPORT_LASTSCANNEDROW		TINYINT = 2;

	IF @ScannedMaxId IS NOT NULL
	BEGIN
		UPDATE c WITH (ROWLOCK, UPDLOCK)
		SET c.Value = CONVERT(VARCHAR(200), @ScannedMaxId)
		FROM dbo.CustomerClassification_Parameter AS c
		WHERE c.DataId = @BYSPORT_LASTSCANNEDROW;
	END;	
END;
GO

GRANT EXECUTE ON [dbo].[CTS_BySportNormalClassification_NormalAccount_Complete] TO [wsv_cts]
GO
GRANT VIEW DEFINITION ON [dbo].[CTS_BySportNormalClassification_NormalAccount_Complete] TO [wsv_cts]
GO
