/*<info serverAlias="DBVR2-bodb_VR2Model" executers="wsv_cts" isFunction="0" isNested="0"></info>*/
USE [bodb_VR2Model]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[CTS_NormalClassification_RealTime_CheckChanges]
		@NextScannedDateTime1 DATETIME2 OUTPUT
	,	@NextScannedDateTime2 DATETIME2 OUTPUT
	,	@NextScannedDateTime3 DATETIME2 OUTPUT
	,	@NextScannedDateTime4 DATETIME2 OUTPUT
AS
/*
	Created: 20220901@Jonas.Huynh
	Task : Check Customers who have data changed from a range of time
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20200901@Jonas.Huynh: Created [Redmine ID: #176992]
		- 20221125@Jonas.Huynh: Combine Realtime Flow of General CC and By Sport [Redmine ID: #180805]
		- 20221213@Jonas.Huynh: Support Non-Sport [Redmine ID: #179500]
		- 20230105@Jonas.Huynh: Get Performance by range time 
		- 20230223@Jonas.Huynh: HF check range time to get new placebet info [Redmine ID: #184112]
		- 20230425@Jonas.Huynh: Realtime Renovation [Redmine ID: #186678]
		- 20230519@Jonas.Huynh: HF Wrong inactive category with new placebet [Redmine ID: #188464]
		- 20230602@Long.Luu:	Add new agent as internal account [Redmine ID: #188554]
		- 20230630@Jonas.Huynh: Normal Renovation for Bysport [Redmine ID: #189875]
		- 20230807@Jonas.Huynh: HF exclude Non-sport for General [Redmine ID: #192388]
		- 20230809@Jonas.Huynh: Saba Classification [Redmine ID: #185320]
        - 20231024@Long.Luu: 	Add Agent HITRM & WINRM as internal account [Redmine ID: #195355]
        - 20231207@Long.Luu: 	Add Agent M999RM00 as internal account [Redmine ID: #197915]
		- 20240220@Jonas.Huynh: HF Incorrect Category - Missing Signal from DW [Redmine ID: #201012]
		- 20240426@Jonas.Huynh: Exclude New Parlay SportGroup [Redmine ID: #203600]
		- 20240926@Casey.Huynh: Return Agent [Redmine ID: #185799]
		- 20250113@Thomas.Nguyen: Fix NULL Recommend issue - Remove Orphan Account [Redmine ID: #216749]
		- 20250415@Jonas.Huynh: Remove direct Agent
        - 20250923@Long.Luu: 	Add Agents ORI6RM & ORI20RM  as internal account [Redmine ID: #239117]

	Param's Explanation:
		DECLARE @NextScannedDateTime1 DATETIME2;
		DECLARE @NextScannedDateTime2 DATETIME2;
		DECLARE @NextScannedDateTime3 DATETIME2;
		DECLARE @NextScannedDateTime4 DATETIME2;
		EXEC [dbo].[CTS_NormalClassification_RealTime_CheckChanges_xpre] @NextScannedDateTime1 = @NextScannedDateTime1 OUTPUT
																,	@NextScannedDateTime2 = @NextScannedDateTime2 OUTPUT
																,	@NextScannedDateTime3 = @NextScannedDateTime3 OUTPUT
																,	@NextScannedDateTime4 = @NextScannedDateTime4 OUTPUT
		SELECT @NextScannedDateTime1, @NextScannedDateTime2, @NextScannedDateTime3, @NextScannedDateTime4;

*/
BEGIN
	SET NOCOUNT ON;

	DECLARE @TICKETSTATUS_ALL			 TINYINT = 1;
	DECLARE	@TICKETSTATUS_SETTLE		 TINYINT = 2;

	DECLARE @SPORTGROUP_SABAVRSOCCER	 SMALLINT = 145;
	DECLARE	@SPORTGROUP_SABAVRBASKETBALL SMALLINT = 912;
	DECLARE	@SPORTGROUP_NONSPORT	     SMALLINT = 229;
	DECLARE	@SPORTGROUP_PARLAY			 SMALLINT = 107;

	DECLARE @SYSTEMPARAMETER_STEPJUMP	 TINYINT = 9;
	DECLARE @SYSTEMPARAMETER_LASTSCAN1	 TINYINT = 10;
	DECLARE @SYSTEMPARAMETER_LASTSCAN2   TINYINT = 11;	
	DECLARE @SYSTEMPARAMETER_LASTSCAN3   TINYINT = 12;	
	DECLARE @SYSTEMPARAMETER_LASTSCAN4   TINYINT = 13;

	DECLARE	@CurrentTime				 DATETIME = GETDATE();
	DECLARE	@ToDate						 DATETIME = GETDATE();
	DECLARE @From30Date					 DATETIME = DATEADD(DAY, -29, @ToDate);

	DECLARE	@FromScannedDateTime1		 DATETIME2;
	DECLARE	@FromScannedDateTime2		 DATETIME2;
	DECLARE	@FromScannedDateTime3		 DATETIME2;
	DECLARE	@FromScannedDateTime4		 DATETIME2;

	DECLARE	@ToScannedDateTime1			 DATETIME2;
	DECLARE	@ToScannedDateTime2			 DATETIME2;
	DECLARE	@ToScannedDateTime3			 DATETIME2;
	DECLARE	@ToScannedDateTime4			 DATETIME2;

	DECLARE	@MinuteTime_CurrentStepJump  INT;
	DECLARE	@MinuteTime_DefaultStepJump	 INT = 10;

	IF	OBJECT_ID('tempdb..#tmpRawData') IS NOT NULL
		DROP TABLE	#tmpRawData;

	CREATE TABLE #tmpRawData(
		CustId		  INT	      NOT NULL,
		SportGroup    INT		  NOT NULL,
		TypeData	  TINYINT	  NOT NULL,		-- TypeData=1: AllTicket, TypeData=2: SettledTicket
		LastTransDate DATETIME    NULL,
		IsSpecialCase BIT		  DEFAULT 0
	);

	CREATE CLUSTERED INDEX CIX_tmpRawData_TypeData ON #tmpRawData(TypeData);

	IF	OBJECT_ID('tempdb..#tmpGeneralChanges') IS NOT NULL
	DROP TABLE	#tmpGeneralChanges;

	CREATE TABLE #tmpGeneralChanges(
		CustId		  INT	     NOT NULL,
		TicketStatus  TINYINT	 NOT NULL,
		LastTransTime DATETIME   NULL,
		PRIMARY KEY (TicketStatus, CustId)
	);

	IF	OBJECT_ID('tempdb..#tmpBySportChanges') IS NOT NULL
	DROP TABLE	#tmpBySportChanges;

	CREATE TABLE #tmpBySportChanges(
		CustId		  INT	    NOT NULL,
		SportGroup    INT		NOT NULL,
		TicketStatus  TINYINT	NOT NULL,
		LastTransTime DATETIME  NULL,
		PRIMARY KEY (TicketStatus, CustId, SportGroup)
	);

	IF	OBJECT_ID('tempdb..#tmpLastTrans') IS NOT NULL
		DROP TABLE	#tmpLastTrans;

	CREATE TABLE #tmpLastTrans(
		CustId		  INT PRIMARY KEY,
		LastTransTime DATETIME NOT NULL
	);

	IF	OBJECT_ID('tempdb..#tmpGeneralChangesAgency') IS NOT NULL
	DROP TABLE	#tmpGeneralChangesAgency;

	CREATE TABLE #tmpGeneralChangesAgency(
		CustId		  INT	     NOT NULL,
		Recommend	  INT		 NOT NULL,
		TicketStatus  TINYINT	 NOT NULL,
		LastTransTime DATETIME   NULL,
		PRIMARY KEY (TicketStatus, CustId)
	);

	IF	OBJECT_ID('tempdb..#tmpLastTransAgency') IS NOT NULL
	DROP TABLE	#tmpLastTransAgency;

	CREATE TABLE #tmpLastTransAgency(
		Recommend		INT PRIMARY KEY,
		LastTransTime	DATETIME NOT NULL
	);




	-- START
	-- #0: Get Last Scanned Datetime
	SELECT @MinuteTime_CurrentStepJump = CONVERT(int, [Value])
	FROM dbo.CustomerClassification_Parameter WITH(NOLOCK)
	WHERE DataId = @SYSTEMPARAMETER_STEPJUMP;

	SELECT @FromScannedDateTime1 = CONVERT(DATETIME2, [Value], 121) FROM dbo.CustomerClassification_Parameter WITH(NOLOCK)	WHERE DataId = @SYSTEMPARAMETER_LASTSCAN1;
	SELECT @FromScannedDateTime2 = CONVERT(DATETIME2, [Value], 121) FROM dbo.CustomerClassification_Parameter WITH(NOLOCK) 	WHERE DataId = @SYSTEMPARAMETER_LASTSCAN2;
	SELECT @FromScannedDateTime3 = CONVERT(DATETIME2, [Value], 121) FROM dbo.CustomerClassification_Parameter WITH(NOLOCK)	WHERE DataId = @SYSTEMPARAMETER_LASTSCAN3;
	SELECT @FromScannedDateTime4 = CONVERT(DATETIME2, [Value], 121) FROM dbo.CustomerClassification_Parameter WITH(NOLOCK)	WHERE DataId = @SYSTEMPARAMETER_LASTSCAN4;

	SET @ToScannedDateTime1 =  DATEADD(minute, @MinuteTime_CurrentStepJump, @FromScannedDateTime1);
	SET @ToScannedDateTime2 =  DATEADD(minute, @MinuteTime_CurrentStepJump, @FromScannedDateTime2);
	SET @ToScannedDateTime3 =  DATEADD(minute, @MinuteTime_CurrentStepJump, @FromScannedDateTime3);
	SET @ToScannedDateTime4 =  DATEADD(minute, @MinuteTime_CurrentStepJump, @FromScannedDateTime4);

	-- #1: Get changed data
	INSERT INTO #tmpRawData(TypeData, CustId, SportGroup, LastTransDate, IsSpecialCase)
	EXEC bodb_dwrs.dbo.Acc_Rpt_CTS_GetListCustByModifiedDate @fromModifiedDate_01 = @FromScannedDateTime1
														,	@fromModifiedDate_02 = @FromScannedDateTime2
														,	@fromModifiedDate_03 = @FromScannedDateTime3
														,	@fromModifiedDate_04 = @FromScannedDateTime4
														,	@toModifiedDate_01 = @ToScannedDateTime1
														,	@toModifiedDate_02 = @ToScannedDateTime2
														,	@toModifiedDate_03 = @ToScannedDateTime3
														,	@toModifiedDate_04 = @ToScannedDateTime4
														,	@scannedModifiedDate_01 = @NextScannedDateTime1 OUTPUT
														,	@scannedModifiedDate_02 = @NextScannedDateTime2 OUTPUT
														,	@scannedModifiedDate_03 = @NextScannedDateTime3 OUTPUT
														,	@scannedModifiedDate_04 = @NextScannedDateTime4 OUTPUT;
	--=================MEMBER PROCESS=========================
	-- #2: Remove SMA
	DELETE r WITH(ROWLOCK)
	FROM #tmpRawData AS r
		LEFT JOIN bodb02.dbo.custInfo AS c WITH(NOLOCK) ON r.CustId = c.custid
	WHERE c.roleid <> 1;
	
	-- #3: Remove Internal Accounts
	DELETE r WITH(ROWLOCK)
	FROM #tmpRawData AS r
		INNER JOIN bodb02.dbo.Customer AS c WITH(NOLOCK) ON r.CustId = c.custid
	WHERE c.srecommend IN (41430709)
		OR c.mrecommend IN (27899314,11656504,12146012)
		OR c.recommend IN (52466,5707545,29270764,134456,27787409,48367475,93558369,16604398,260963471,260963800)
		OR c.username LIKE '%CashOut'
		OR (c.Site = 'NextBet' OR c.Site = '9wickets' OR c.Site = '9wsports');

	-- #3: Remove Orphan Account
	DELETE r WITH(ROWLOCK)
	FROM #tmpRawData AS r
	WHERE r.CustID = 0;

	-- #4: General - Filter data
	INSERT INTO #tmpGeneralChanges(CustId, TicketStatus, LastTransTime)
	SELECT CustId
		 , TypeData
		 , MAX(LastTransDate)
	FROM #tmpRawData
	WHERE (TypeData = @TICKETSTATUS_ALL AND LastTransDate >= @From30Date)
		OR (TypeData = @TICKETSTATUS_SETTLE AND SportGroup NOT IN (@SPORTGROUP_NONSPORT, @SPORTGROUP_SABAVRSOCCER, @SPORTGROUP_SABAVRBASKETBALL, @SPORTGROUP_PARLAY))
	GROUP BY CustId, TypeData;

	-- #5: General - Update LastTransDate
	INSERT INTO #tmpLastTrans(CustId, LastTransTime)
	SELECT DISTINCT CustId, LastTransTime
	FROM #tmpGeneralChanges
	WHERE TicketStatus = @TICKETSTATUS_ALL;

	UPDATE b WITH(ROWLOCK, UPDLOCK)
	SET	   b.LastTransDate = a.LastTransTime,
		   b.LastTransTime = a.LastTransTime,
		   b.CreatedTime = GETDATE()
	FROM #tmpLastTrans AS a
		INNER JOIN dbo.CustomerClassification_LatestActiveDay AS b ON b.CustId = a.CustId
	WHERE a.LastTransTime > b.LastTransTime;

	INSERT INTO dbo.CustomerClassification_LatestActiveDay(CustId, LastTransDate, LastTransTime, CreatedTime)
	SELECT a.CustId, a.LastTransTime, a.LastTransTime, GETDATE()
	FROM #tmpLastTrans AS a
	WHERE NOT EXISTS (SELECT 1 FROM dbo.CustomerClassification_LatestActiveDay AS b WITH(NOLOCK) WHERE b.CustId = a.CustId);

	-- #6: General - Realtime classification
	INSERT INTO dbo.CustomerClassification_RealtimeChanges(CustId, CreatedTime)
	OUTPUT inserted.CustId, @CurrentTime INTO dbo.CustomerClassification_Monitor_Realtime(CustId, CreatedDate)
	SELECT DISTINCT CustId, @CurrentTime
	FROM #tmpGeneralChanges
	GROUP BY CustId;
	
	-- #7: BySport - Filter data
	INSERT INTO #tmpBySportChanges(CustId, SportGroup, TicketStatus, LastTransTime)
	SELECT CustId
		 , SportGroup
		 , TypeData
		 , LastTransDate
	FROM #tmpRawData
	WHERE ((TypeData = @TICKETSTATUS_SETTLE)
		OR (TypeData = @TICKETSTATUS_ALL AND IsSpecialCase = 0 	AND LastTransDate >= @From30Date))
		AND SportGroup NOT IN (@SPORTGROUP_PARLAY);

	-- #8: BySport - Update LastTransDate
	UPDATE b WITH(ROWLOCK, UPDLOCK)
	SET	   b.LastTransDate = a.LastTransTime,
		   b.LastTransTime = a.LastTransTime,
		   b.CreatedTime = GETDATE()
	FROM #tmpBySportChanges AS a
		INNER JOIN dbo.CustomerClassification_BySport_LatestActiveDay AS b ON b.CustId = a.CustId AND b.SportGroup = a.SportGroup
	WHERE a.TicketStatus = @TICKETSTATUS_ALL AND a.LastTransTime > b.LastTransTime;

	INSERT INTO dbo.CustomerClassification_BySport_LatestActiveDay(CustId, SportGroup, LastTransDate, LastTransTime, CreatedTime)
	SELECT a.CustId, a.SportGroup, a.LastTransTime, a.LastTransTime, GETDATE()
	FROM #tmpBySportChanges AS a
	WHERE a.TicketStatus = @TICKETSTATUS_ALL 
		AND NOT EXISTS (SELECT 1 FROM dbo.CustomerClassification_BySport_LatestActiveDay AS b WITH(NOLOCK) WHERE b.CustId = a.CustId AND b.SportGroup = a.SportGroup);
	
	-- #9:  BySport - realtime classification
	INSERT INTO dbo.CustomerClassification_BySport_RealtimeChanges(CustId, SportGroup, CreatedTime)
	SELECT DISTINCT CustId, SportGroup, @CurrentTime
	FROM #tmpBySportChanges;

	-- #10: Return data set
	SELECT CustId, 
		   LastTransTime AS LastTicketDate
	FROM #tmpLastTrans   
	--=================AGENT PROCESS: START=========================
	--===================AGENT-Insert LastestActiveDate============================================

	INSERT INTO #tmpLastTransAgency(Recommend, LastTransTime)
	SELECT c.recommend, MAX(a.LastTransTime)
	FROM #tmpLastTrans AS a
		INNER JOIN bodb02.dbo.custInfo AS c WITH(NOLOCK) ON a.CustId = c.custid
		LEFT JOIN bodb02.dbo.Dep_CustSuper AS cs WITH(NOLOCK) ON c.Srecommend = cs.custid
	WHERE cs.CustID IS NULL
	GROUP BY recommend;

	CREATE NONCLUSTERED INDEX IX_tmpLastTransAgency_Recommend ON #tmpLastTransAgency(Recommend,LastTransTime);

	---========================AGENT-LatestActiveDay==================================================================
	UPDATE b WITH(ROWLOCK, UPDLOCK)
	SET	   b.LastTransDate = a.LastTransTime,
		   b.LastTransTime = a.LastTransTime,
		   b.CreatedTime = GETDATE()
	FROM #tmpLastTransAgency AS a
		INNER JOIN dbo.CustomerClassificationAgency_LatestActiveDay AS b ON b.CustId = a.Recommend
	WHERE a.LastTransTime > b.LastTransTime;

	INSERT INTO dbo.CustomerClassificationAgency_LatestActiveDay(CustId, RoleID, LastTransDate, LastTransTime, CreatedTime)
	SELECT a.Recommend, 2 AS RoleID, LastTransTime, LastTransTime, GETDATE()
	FROM #tmpLastTransAgency AS a
	WHERE NOT EXISTS (SELECT 1 FROM dbo.CustomerClassificationAgency_LatestActiveDay AS b WITH(NOLOCK) WHERE b.CustId = a.Recommend);

	--===================AGENT-RealtimeChanges============================================
	---------------------Get Credit Agency only-----------------------
	INSERT INTO #tmpGeneralChangesAgency(CustId, Recommend, TicketStatus, LastTransTime)
	SELECT g.CustId, c.recommend, g.TicketStatus, g.LastTransTime
	FROM #tmpGeneralChanges AS g WITH(NOLOCK)
		INNER JOIN bodb02.dbo.custInfo AS c WITH(NOLOCK) ON g.CustId = c.custid
		LEFT JOIN bodb02.dbo.Dep_CustSuper AS cs WITH(NOLOCK) ON c.Srecommend = cs.custid
	WHERE cs.CustID IS NULL;

	CREATE NONCLUSTERED INDEX IX_tmpGeneralChangesAgency_Recommend ON #tmpLastTransAgency(Recommend);
	
	INSERT INTO dbo.CustomerClassificationAgency_RealtimeChanges(CustId, RoleId, CreatedTime)
	SELECT DISTINCT Recommend, 2 AS RoleId, @CurrentTime
	FROM #tmpGeneralChangesAgency AS g WITH(NOLOCK)
	WHERE Recommend > 0;
	
	-- #10: Return data set Agent
	SELECT DISTINCT Recommend AS CustId, 
		   LastTransTime AS LastTicketDate
		   , 2 AS RoleID
	FROM #tmpLastTransAgency
	WHERE Recommend > 0;

	--=================AGENT PROCESS: END=========================
	--=======================================================
	-- #11: Store StepJump
	IF ((@NextScannedDatetime1 IS NOT NULL AND @NextScannedDatetime1 > @FromScannedDateTime1)
		AND (@NextScannedDatetime2 IS NOT NULL AND @NextScannedDatetime2 > @FromScannedDateTime2)
		AND (@NextScannedDatetime3 IS NOT NULL AND @NextScannedDateTime3 > @FromScannedDateTime3)
		AND (@NextScannedDatetime4 IS NOT NULL AND @NextScannedDatetime4 > @FromScannedDateTime4))
		BEGIN
			IF (@MinuteTime_CurrentStepJump <> @MinuteTime_DefaultStepJump)
				BEGIN
					UPDATE dbo.CustomerClassification_Parameter WITH(ROWLOCK, UPDLOCK)
					SET [Value] = CONVERT(VARCHAR(200), @MinuteTime_DefaultStepJump)
					WHERE DataId = @SYSTEMPARAMETER_STEPJUMP;
				END;
		END;
	ELSE
		BEGIN
			UPDATE dbo.CustomerClassification_Parameter WITH(ROWLOCK, UPDLOCK)
			SET [Value] = CONVERT(VARCHAR(200), @MinuteTime_CurrentStepJump + @MinuteTime_DefaultStepJump)
			WHERE DataId = @SYSTEMPARAMETER_STEPJUMP;
		END;

	DROP TABLE	#tmpRawData;
	DROP TABLE	#tmpLastTrans;
	DROP TABLE	#tmpGeneralChanges;	
	DROP TABLE	#tmpBySportChanges;
	DROP TABLE	#tmpLastTransAgency;
	DROP TABLE	#tmpGeneralChangesAgency;
END;
GO