/*<info serverAlias="DBVR2-bodb_VR2Model" executers="wsv_cts" isFunction="0" isNested="0"></info>*/
USE [bodb_VR2Model]
GO
/****** Object:  StoredProcedure [dbo].[CTS_GeneralNormalClassificationAgency_Realtime_Complete]    Script Date: 4/26/2023 2:18:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTS_GeneralNormalClassificationAgency_Realtime_Complete]
	@ScannedMaxId BIGINT
AS
/*
	Created: 20230425@Jonas.Huynh
	Task : Get customers who have new changed data 
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20241003@Jonas.Huynh: Created [Redmine ID: #185799]

		Param's Explanation:

    Script:
        EXEC bodb_VR2Model.dbo.[CTS_GeneralNormalClassificationAgency_Realtime_Complete] @ScannedMaxId = 99;
*/
BEGIN
	
	SET NOCOUNT ON;

	IF @ScannedMaxId IS NOT NULL
	BEGIN
		DELETE r WITH (ROWLOCK)
		FROM dbo.CustomerClassificationAgency_RealtimeChanges as r
		WHERE r.ID <= @ScannedMaxId
	END;

END;
GO

GRANT EXECUTE ON [dbo].[CTS_GeneralNormalClassificationAgency_Realtime_Complete] TO [wsv_cts]
GO
GRANT VIEW DEFINITION ON [dbo].[CTS_GeneralNormalClassificationAgency_Realtime_Complete] TO [wsv_cts]
GO