USE [bodb_VR2Model]
GO
/****** Object:  StoredProcedure [dbo].[CTS_GeneralNormalClassification_JobDB_DailyClean]    Script Date: 4/26/2023 2:18:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTS_GeneralNormalClassification_JobDB_DailyCleanData]
AS
/*
	Created: 20230425@Jonas.Huynh
	Task : Clean unusued data exceed 30days
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20230425@Jonas.Huynh: Realtime Renovation [Redmine ID: #186678]
		- 20230601@Jonas.Huynh: Normal Renovation [Redmine ID: #186684]
		- 20230726@Jonas.Huynh: Saba Classification [Redmine ID: #185320]

		Param's Explanation:

    Script:
        EXEC bodb_VR2Model.dbo.[CTS_GeneralNormalClassification_JobDB_DailyCleanData]
*/
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @ToDate			   DATE = GETDATE();
	DECLARE @ExpiredActiveDate DATE = DATEADD(DAY, - 30, @ToDate);
	DECLARE @Yesterday		   DATE = DATEADD(DAY, - 1, @ToDate);
	DECLARE @BatchSize		   INT = 1000;
	DECLARE	@RowCount		   INT = 1000;
	   
	WHILE @RowCount = @BatchSize
		BEGIN
			DELETE TOP(@BatchSize) a WITH(ROWLOCK)
			FROM dbo.CustomerClassification_LatestActiveDay AS a
			WHERE a.LastTransDate <= @ExpiredActiveDate;

			SET @RowCount = @@ROWCOUNT;
		END;

	SET @RowCount = @BatchSize;
	WHILE @RowCount = @BatchSize
		BEGIN
			DELETE TOP(@BatchSize) a WITH(ROWLOCK)
			FROM dbo.CustomerClassification_ScannedDailyCust AS a
			WHERE a.CreatedDate <= @Yesterday;

			SET @RowCount = @@ROWCOUNT;
		END;

	SET @RowCount = @BatchSize;
	WHILE @RowCount = @BatchSize
		BEGIN
			DELETE TOP(@BatchSize) a WITH(ROWLOCK)
			FROM dbo.CustomerClassification_BySport_ScannedDailyCust AS a
			WHERE a.CreatedDate <= @Yesterday;

			SET @RowCount = @@ROWCOUNT;
		END;

	SET @RowCount = @BatchSize;
	WHILE @RowCount = @BatchSize
		BEGIN
			DELETE TOP(@BatchSize) a WITH(ROWLOCK)
			FROM dbo.CustomerClassification_BySport_LatestActiveDay AS a
			WHERE a.LastTransDate <= @ExpiredActiveDate;

			SET @RowCount = @@ROWCOUNT;
		END;

END;
GO

GRANT EXECUTE ON [dbo].[CTS_GeneralNormalClassification_JobDB_DailyCleanData] TO [bodbSPUNet]
GO
GRANT VIEW DEFINITION ON [dbo].[CTS_GeneralNormalClassification_JobDB_DailyCleanData] TO [bodbSPUNet]
GO