/*<info serverAlias="DBVR2-bodb_VR2Model" executers="wsv_cts" isFunction="0" isNested="0"></info>*/
USE [bodb_VR2Model]
GO
/****** Object:  StoredProcedure [dbo].[CTS_GeneralNormalClassification_NormalAccount_Get]    Script Date: 5/7/2023 2:57:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[CTS_GeneralNormalClassification_NormalAccount_Get]
		@ScannedMaxId	BIGINT OUTPUT
	,	@IsLogData		BIT
AS
/*
	Created: 20200901@Long.Luu
	Task : Get new normal account classification
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20200901@Long.Luu: Created [Redmine ID: #137550]
		- 20210112@John.Ngo: Return more data for View Category History [Redmine ID: #145951]
		- 20220321@Long.Luu: Remove Inactive category incase of existed normal category [Redmine ID: #169960]
		- 20230208@Jonas.Huynh: Enhance rescan customer category [Redmine ID: #183582]
		- 20230405@Jonas.Huynh: Modify betcount schedule for Normal & Good Member [Redmine ID: #185633]
		- 20230425@Jonas.Huynh: Realtime Renovation [Redmine ID: #186678]
		- 20230816@Jonas.Huynh: Tagging Classification [Redmine ID: #191400]
		- 20231030@Victoria.Le: New Member Classify Tagging [Redmine ID: #195060]
		- 20231206@Victoria.Le: Left join table bodb02.dbo.Customer due to customer archived  [Redmine ID: #197958]
		- 20240327@Jonas.Huynh: EC2024 - Resolve Locking [Redmine ID: #200842]
		- 20240426@Thomas.Nguyen: Remove logic New Member Classify Tagging [Redmine ID: #200854]
		- 20240618@Jonas.Nguyen: Renovate CC - Phase 2 [Redmine ID: #205317]
		- 20241226@Jonas.Huynh: HF Incorrect CC  [Redmine ID: #214058]
		- 20241125@Jonas.Huynh: Log Data to trace issue [Redmine ID: #214058]
		- 20241228@Thomas.Nguyen: New CC 230x-240x [Redmine ID: #206327]
		- 20250514@Casey.Huynh: New Special Lic Sub CC [Redmine ID: #226847]

	Param's Explanation:

    Script:
		DECLARE @ScannedMaxId BIGINT;
        EXEC bodb_VR2Model.dbo.CTS_GeneralNormalClassification_NormalAccount_Get @ScannedMaxId = @ScannedMaxId OUTPUT, @IsLogData = 0
		SELECT @ScannedMaxId;
*/

BEGIN
	
	SET NOCOUNT ON;

	DECLARE @CATEGORYGROUP_NULL				INT = 0,
			@CATEGORYGROUP_NEW				INT = 40100,
			@CATEGORYGROUP_GOOD				INT = 40200,
			@CATEGORYGROUP_NORMAL			INT = 40300,
			@CATEGORYGROUP_PROBATION		INT = 40400,
			@CATEGORYGROUP_SMART			INT = 40500,
			@CATEGORYGROUP_RISKY			INT = 40600;

	DECLARE	@CATEGORY_NORMALINACTIVE	INT = 40700,
			@CATEGORY_SMARTINACTIVE		INT = 40701;

	DECLARE @SCANTAGGINGTYPE_NOTEXIST	TINYINT = 0,
			@SCANTAGGINGTYPE_EXIST		TINYINT = 1,
			@SCANTAGGINGTYPE_EXISTONLY	TINYINT = 2;

	DECLARE @BATCHSIZE					INT		= 10000;
	DECLARE @GENERAL_LASTSCANNEDID		TINYINT = 3;

	DECLARE @LastScannedID				BIGINT;
	DECLARE @NextScannedID				BIGINT;	

	IF	OBJECT_ID('tempdb..#tmpRawData') IS NOT NULL
	DROP TABLE	#tmpRawData;

	CREATE TABLE #tmpRawData(
		ID						BIGINT NOT NULL PRIMARY KEY,
		CustId					INT,
		CurrentCategoryId	 	INT,
		CategoryId				INT,
		CategoryGroupId			INT,
		CreatedTime				DATETIME,
		TurnoverRM				DECIMAL(19, 4),
		WinlossRM				DECIMAL(19, 4),
		BetCount				BIGINT,
		ActiveDays				INT,
		PerformanceTime			DATETIME,
		ScanTaggingType			TINYINT DEFAULT(0),
		ScanSpecialLicSubType	TINYINT
	);

	IF	OBJECT_ID('tempdb..#tmpTaggingScan') IS NOT NULL
	DROP TABLE	#tmpTaggingScan;

	CREATE TABLE #tmpTaggingScan(
		CustId			  INT PRIMARY KEY,
		ScanTaggingType   TINYINT DEFAULT(0)
	);

	IF	OBJECT_ID('tempdb..#tmpResult') IS NOT NULL
	DROP TABLE	#tmpResult;

	CREATE TABLE #tmpResult(
		ID			      		BIGINT NOT NULL PRIMARY KEY,
		CustId		      		INT,
		CategoryId	      		INT,
		CategoryGroupId	  		INT,
		CreatedTime	      		DATETIME,
		TurnoverRM	      		DECIMAL(19, 4),
		WinlossRM	      		DECIMAL(19, 4),
		BetCount	      		BIGINT,
		ActiveDays	      		INT,
		PerformanceTime	  		DATETIME,
		ScanTaggingType	  		TINYINT DEFAULT(0),
		ScanSpecialLicSubType	TINYINT
	);

	SELECT @NextScannedID = MAX(ID) FROM dbo.CustomerClassification WITH(NOLOCK);
	SELECT @LastScannedID = CAST([Value] AS BIGINT) FROM dbo.CustomerClassification_Parameter WITH(NOLOCK) WHERE [DataId] = @GENERAL_LASTSCANNEDID;

	WAITFOR DELAY '00:00:00.300';

	INSERT INTO #tmpRawData(ID, CustId, CurrentCategoryId, CategoryId, CategoryGroupId, CreatedTime, TurnoverRM, WinlossRM, BetCount, ActiveDays, PerformanceTime, ScanTaggingType,ScanSpecialLicSubType)
	SELECT TOP (@BATCHSIZE) c.ID
		,	c.CustId
		,	c.CurrentCategoryId
		,	c.CategoryId
		,	CASE WHEN c.CategoryId IN (@CATEGORY_NORMALINACTIVE, @CATEGORY_SMARTINACTIVE) THEN NULL ELSE c.CategoryId END
		,	c.CreatedTime
		,	c.TurnoverRM
		,	c.WinlossRM
		,	c.BetCount
		,	c.ActiveDays
		,	c.PerformanceTime
		,	c.ScanTaggingType
		,	c.ScanSpecialLicSubType
	FROM dbo.CustomerClassification AS c WITH(NOLOCK)
	WHERE c.ID > @LastScannedID
		AND c.ID <= @NextScannedID
	ORDER BY c.ID ASC;
	
	SELECT @ScannedMaxId = Max(ID)
	FROM #tmpRawData WITH (NOLOCK);

	INSERT INTO #tmpTaggingScan(CustId, ScanTaggingType)
	SELECT a.CustId, 
		   CASE 
				WHEN SUM(a.ScanTaggingType) = (COUNT(a.ID) * @SCANTAGGINGTYPE_EXISTONLY) THEN @SCANTAGGINGTYPE_EXISTONLY
				WHEN SUM(a.ScanTaggingType) > 0 THEN @SCANTAGGINGTYPE_EXIST
				ELSE @SCANTAGGINGTYPE_NOTEXIST
		   END
	FROM #tmpRawData AS a
	GROUP BY a.CustId;

	INSERT INTO #tmpResult(ID, CustId, CategoryId, CategoryGroupId, CreatedTime, TurnoverRM, WinlossRM, BetCount, ActiveDays, PerformanceTime, ScanTaggingType,ScanSpecialLicSubType)
	SELECT	b.ID
		,	b.CustId
		,	b.CategoryId
		,	b.CategoryGroupId
		,	b.CreatedTime
		,	b.TurnoverRM
		,	b.WinlossRM
		,	b.BetCount
		,	b.ActiveDays
		,	b.PerformanceTime
		,	t.ScanTaggingType
		,	b.ScanSpecialLicSubType
	FROM (
			SELECT	*, ROW_NUMBER() OVER(PARTITION BY c.CustId ORDER BY c.ID DESC) AS RowNum
			FROM #tmpRawData AS c
		 ) AS b 
		LEFT JOIN  #tmpTaggingScan AS t ON t.CustId = b.CustId
	WHERE b.RowNum = 1;

	SELECT	CustId
		,	CategoryId
		,	CategoryGroupId
		,	CreatedTime
		,	TurnoverRM
		,	WinlossRM
		,	BetCount
		,	ActiveDays
		,	PerformanceTime
		,	ScanTaggingType
		,	CASE WHEN CategoryId IN (@CATEGORYGROUP_NEW, @CATEGORYGROUP_GOOD, @CATEGORYGROUP_NORMAL, @CATEGORYGROUP_PROBATION, @CATEGORYGROUP_SMART, @CATEGORYGROUP_RISKY) THEN 1 ELSE 0 END AS ScanTaggingTWType
		,	ScanSpecialLicSubType
	FROM #tmpResult;

	DROP TABLE	#tmpRawData;
	DROP TABLE	#tmpTaggingScan;
	DROP TABLE	#tmpResult;
END;
GO