/*<info serverAlias="DBVR2-bodb_VR2Model" executers="wsv_cts" isFunction="0" isNested="0"></info>*/
USE [bodb_VR2Model]
GO
/****** Object:  StoredProcedure [dbo].[CTS_BySportNormalClassification_NormalAccount_Get]    Script Date: 5/7/2023 2:57:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTS_BySportNormalClassification_NormalAccount_Get]
	@ScannedMaxId BIGINT OUTPUT
AS
/*
	Created: 20230704@Jonas.Huynh
	Task : Get new normal account classification bySport
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20230704@Jonas.Huynh: Created [Redmine ID: #189875]
		- 20240327@Jonas.Huynh: EC2024 - Resolve Locking [Redmine ID: #200842]
		- 20240618@Jonas.Nguyen: Renovate CC - Phase 2 [Redmine ID: #205317]

	Param's Explanation:

    Script:
		DECLARE @ScannedMaxId BIGINT;
        EXEC bodb_VR2Model.dbo.CTS_BySportNormalClassification_NormalAccount_Get @ScannedMaxId = @ScannedMaxId OUTPUT;
		SELECT @ScannedMaxId;
*/

BEGIN
	
	SET NOCOUNT ON;
	
	DECLARE @BYSPORT_LASTSCANNEDROW		TINYINT = 2;
	DECLARE @BATCHSIZE					INT = 10000;

	DECLARE @LastScannedRow				ROWVERSION;
	DECLARE @NextScannedRow				ROWVERSION;	

	IF	OBJECT_ID('tempdb..#tmpRawData') IS NOT NULL
	DROP TABLE	#tmpRawData;

	CREATE TABLE #tmpRawData(
		ID			    BIGINT NOT NULL PRIMARY KEY,
		CustId		    INT,
		SportGroup		SMALLINT,
		CategoryId	    INT,
		CreatedTime	    DATETIME,
		TurnoverRM	    DECIMAL(19, 4),
		WinlossRM	    DECIMAL(19, 4),
		BetCount	    BIGINT,
		ActiveDays	    INT,
		PerformanceTime DATETIME,
		[RowVersion]	BIGINT NOT NULL
	);

	SELECT @NextScannedRow = MAX([RowVersion]) FROM dbo.CustomerClassification_BySport WITH(NOLOCK);
	SELECT @LastScannedRow = CAST(CAST([Value] AS BIGINT) AS ROWVERSION) FROM dbo.CustomerClassification_Parameter WITH(NOLOCK) WHERE [DataId] = @BYSPORT_LASTSCANNEDROW;

	INSERT INTO #tmpRawData(ID, CustId, SportGroup, CategoryId, CreatedTime, TurnoverRM, WinlossRM, BetCount, ActiveDays, PerformanceTime, [RowVersion])
	SELECT	 TOP (@BATCHSIZE) c.ID
		,	c.CustId
		,	c.SportId
		,	c.CategoryId
		,	c.CreatedTime
		,	c.TurnoverRM
		,	c.WinlossRM
		,	c.BetCount
		,	c.ActiveDays
		,	c.PerformanceTime
		,	CAST(c.[RowVersion] AS BIGINT)
	FROM dbo.CustomerClassification_BySport AS c WITH(NOLOCK)
	WHERE c.[RowVersion] > @LastScannedRow 
		AND c.[RowVersion] <= @NextScannedRow
	ORDER BY c.[RowVersion] ASC;

	SELECT @ScannedMaxId = Max([RowVersion])
	FROM #tmpRawData WITH (NOLOCK);

	SELECT	b.CustId
		,	b.SportGroup
		,	b.CategoryId
		,	b.TurnoverRM
		,	b.WinlossRM
		,	b.BetCount
		,	b.ActiveDays
		,	b.PerformanceTime
	FROM (
		SELECT	*,	ROW_NUMBER() OVER(PARTITION BY c.CustId, c.SportGroup ORDER BY c.ID DESC) AS RowNum
		FROM #tmpRawData AS c WITH(NOLOCK)
	) AS b
	WHERE b.RowNum = 1;

END;
GO

GRANT EXECUTE ON [dbo].[CTS_BySportNormalClassification_NormalAccount_Get] TO [wsv_cts]
GO
GRANT VIEW DEFINITION ON [dbo].[CTS_BySportNormalClassification_NormalAccount_Get] TO [wsv_cts]
GO