/*<info serverAlias="DBVR2-bodb_VR2Model" executers="bodbSPUNet" isFunction="0" isNested="0"></info>*/
USE [bodb_VR2Model]
GO
/****** Object:  StoredProcedure [dbo].[CTS_BySportNormalClassification_Probation_Preprocess]    Script Date: 06/01/2023 2:56:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[CTS_BySportNormalClassification_Probation_Preprocess]
	@CustomersXML	XML
AS
/*
	Created: 20230707@Jonas.Huynh
	Task :  Insert custIds to Normal Classification pool
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20230707@Jonas.Huynh: Created [Redmine ID: #189875]
		- 20240318@Jonas.Huynh: Filter inactive customer for daily classification  [Redmine ID: #201359]
		
		Param's Explanation:

    Script:
        EXEC bodb_VR2Model.dbo.[CTS_BySportNormalClassification_Probation_Preprocess] 
							@CustomersXML = N'<Root>
								<r CustId="5002646" SportGroup="2"/>
								<r CustId="5022391" SportGroup="2"/>
							</Root>';
*/
BEGIN
	
	SET NOCOUNT ON;

	DECLARE	@FunctionId				TINYINT = 2;

	DECLARE	@ToDate					DATE	= GETDATE();
	DECLARE	@From30Date				DATE	= DATEADD(DAY, -29, @ToDate);

	DECLARE	@Priority				SMALLINT,
			@Priority_GroupId		TINYINT = 1,
			@Priority_ActionUnknown SMALLINT = 9999;
	
	IF OBJECT_ID('tempdb..#tmpCustomers') IS NOT NULL
	BEGIN
		DROP TABLE	#tmpCustomers;
	END

	CREATE TABLE #tmpCustomers (
		CustId		INT,
		SportGroup	INT
		PRIMARY KEY (CustId, SportGroup)
	);

	-- #1: Get Customers
    INSERT INTO #tmpCustomers(CustId, SportGroup)
	SELECT	T.C.value('./@CustId', 'INT')				AS CustId
		,	T.C.value('./@SportGroup', 'SMALLINT')		AS SportGroup
	FROM @CustomersXML.nodes('//r') AS T(C)
	OPTION (OPTIMIZE FOR (@CustomersXML = NULL));

	-- #2: Remove disable account
	DELETE r WITH(ROWLOCK)
	FROM #tmpCustomers AS r
		INNER JOIN bodb02.dbo.custInfo AS c WITH(NOLOCK) ON r.CustId = c.custid
	WHERE c.[Enabled] = 0

	-- #3: Remove inactive customers by sporttype
	DELETE r WITH(ROWLOCK)
	FROM #tmpCustomers AS r
	WHERE NOT EXISTS (SELECT 1 
					  FROM [dbo].CustomerClassification_BySport_LatestActiveDay AS c WITH(NOLOCK)
					  WHERE c.CustId = r.CustId 
						AND c.SportGroup = r.SportGroup  
						AND c.LastTransDate >= @From30Date);

	-- #4: Get priority
	SELECT @Priority = ISNULL(p.[Priority], @Priority_ActionUnknown)  
	FROM dbo.CustomerClassification_BySport_Priority AS p WITH(NOLOCK)
	WHERE p.GroupId = @Priority_GroupId AND p.FunctionId = @FunctionId;

	-- #5: Insert Normal Classification Pool
	EXEC dbo.CTS_BySportNormalClassification_NormalPool_Insert @FunctionId = @FunctionId, @Priority = @Priority;

END;
GO

GRANT EXECUTE ON [dbo].CTS_BySportNormalClassification_Probation_Preprocess TO [bodbSPUNet]
GO
GRANT VIEW DEFINITION ON [dbo].CTS_BySportNormalClassification_Probation_Preprocess TO [bodbSPUNet]
GO