/*<info serverAlias="DBVR2-bodb_VR2Model" executers="wsv_cts" isFunction="0" isNested="0"></info>*/
USE [bodb_VR2Model]
GO
/****** Object:  StoredProcedure [dbo].[CTS_CustomerStatistics_GetPerformanceDaily]    Script Date: 11/7/2022 5:21:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[CTS_CustomerStatistics_GetPerformanceDaily]
		@CustId		BIGINT
AS
/*
	Created: 20200730@Long.Luu
	Task : Get Customer daily performance
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20200730@Long.Luu: Created [Redmine ID: #133270]
		- 20210531@John.Ngo: Exclude non-real Saba Sport on Customer Classification [Redmine ID: #155976]
		- 20210818@Long.Luu: Include Saba Sports [Redmine ID: #159012]
		- 20221107@Jonas.Huynh: Exclude WorldCup Performance [Redmine ID: #180211]
		- 20230110@Jonas.Huynh: Fix issue wrong Betcount and get perforamance from new table FactCustStatsInfo [Redmine ID: #182524]
		- 20240424@Jonas.Huynh: Exclude EC2024 [Redmine ID: #203600]

	Param's Explanation:
		 exec [CTS_CustomerStatistics_GetPerformanceDaily_xtest] @CustId = 67918029
*/
BEGIN
	
	SET NOCOUNT ON;

	DECLARE	@ToDate					DATE		= DATEADD(DAY, -1, GETDATE());
	DECLARE	@From90Date				DATE		= DATEADD(DAY, - 90, @ToDate);	

	DECLARE @EURO_EVENT				TINYINT		= 3;
	DECLARE	@EVENT_YEAR2024			VARCHAR(10)	= '2024';
			
	DECLARE @LEAGUE_INVALID			SMALLINT	= -1,
			@LEAGUE_MIXPARLAY		SMALLINT	= -2,
			@LEAGUE_COLOSSUSBETS	SMALLINT	= -3;

	DECLARE @BETTYPE_ODDSPREAD		SMALLINT	= 999;

	DECLARE @TICKETSTATUS_DRAW		SMALLINT	= 3,
			@TICKETSTATUS_LOSE		SMALLINT	= 4,
			@TICKETSTATUS_WON		SMALLINT	= 8,
			@TICKETSTATUS_HALFLOSE	SMALLINT	= 12,
			@TICKETSTATUS_HALFWON	SMALLINT	= 13;

	IF	OBJECT_ID('tempdb..#tmpRptDates') IS NOT NULL
		DROP TABLE	#tmpRptDates;

	CREATE TABLE	#tmpRptDates (
		RptDate		DATE			NOT NULL PRIMARY KEY,
		Turnover	DECIMAL(19,4)	NULL,
		Winloss		DECIMAL(19,4)	NULL,
		BetCount	INT				NULL
	);

	IF	OBJECT_ID('tempdb..#tmpRawData') IS NOT NULL
		DROP TABLE	#tmpRawData;

	CREATE TABLE	#tmpRawData (
		RptDate		DATE             NOT NULL,
		BettypeId	SMALLINT		 NOT NULL,
		Turnover	DECIMAL(19,4)	 NULL,
		Winloss		DECIMAL(19,4)	 NULL,
		BetCount	INT				 NULL,		
		LeagueId	INT				 NOT NULL
	);
	
	CREATE CLUSTERED INDEX CIX_tmpRawData_RptDate ON #tmpRawData(
		RptDate
	);

	CREATE NONCLUSTERED INDEX IX_tmpRawData_LeagueID ON #tmpRawData(
		LeagueID
	);

	IF	OBJECT_ID('tempdb..#tmpCustomerAccummulatedInfo') IS NOT NULL
		DROP TABLE	#tmpCustomerAccummulatedInfo;

	CREATE TABLE #tmpCustomerAccummulatedInfo(
		RptDate		DATE			NOT NULL PRIMARY KEY,
		BetCount	BIGINT			NULL,
		Turnover	DECIMAL(19,4)	NULL,
		Winloss		DECIMAL(19,4)	NULL
	);

	INSERT INTO	#tmpRptDates (RptDate)
	SELECT	tally.RptDate
	FROM	(
				SELECT [NoDays] = DATEDIFF(DAY, @From90Date, @ToDate) + 1
			) cnt
	CROSS APPLY	(
		SELECT	TOP(cnt.NoDays)
				[RptDate] = DATEADD(DAY, ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) - 1, @From90Date)
		FROM		(VALUES (0), (0), (0), (0), (0), (0), (0), (0), (0), (0)) x10(n)
		CROSS APPLY	(VALUES (0), (0), (0), (0), (0), (0), (0), (0), (0), (0)) x100(n)
		CROSS APPLY	(VALUES (0), (0), (0), (0), (0), (0), (0), (0), (0), (0)) x1000(n)
	) tally;
	
		-- #1. Get raw data for all sports
	INSERT INTO #tmpRawData(RptDate, BetCount, BettypeId, LeagueId, Turnover, Winloss)
	SELECT 	f.RptDate
		,	f.BetCount
		,   f.BetType
		,	f.LeagueID
		,   f.MemberTurnover * ex.Rate
		,	f.MemberWinloss * ex.Rate
	FROM bodb_Account.dbo.FactCustStatsInfo AS f WITH(NOLOCK) 
		LEFT JOIN bodb_account.dbo.tbl_Currency_Daily AS ex WITH(NOLOCK) ON f.RptDate = ex.ExchangeDate AND f.CurrencyID = ex.Currency
	WHERE f.CustID = @CustId
			AND f.RptDate >= @From90Date 
			AND f.RptDate <= @ToDate
			AND f.TicketStatus IN (@TICKETSTATUS_DRAW, @TICKETSTATUS_LOSE, @TICKETSTATUS_WON, @TICKETSTATUS_HALFLOSE, @TICKETSTATUS_HALFWON);

	-- #2. Exclude WC2022, EC2024
	DELETE s
	FROM #tmpRawData AS s WITH(NOLOCK)
		JOIN bodb02.dbo.[League] AS l WITH(NOLOCK) ON s.LeagueID = l.leagueid 
	WHERE l.leagueid > 0  -- exclude Invalid, MixParlay, ColossusBets
		AND l.DisplayMode = @EURO_EVENT 
		AND l.ProgramID = @EVENT_YEAR2024;

	DELETE s
	FROM #tmpRawData AS s WITH(NOLOCK)
	WHERE s.LeagueId = @LEAGUE_INVALID AND s.BettypeId = @BETTYPE_ODDSPREAD;

	-- #4.	Accummulate performance
	INSERT INTO #tmpCustomerAccummulatedInfo(RptDate, Turnover, Winloss, BetCount)
	SELECT	RptDate
		,	SUM(s.Turnover)
		,	SUM(s.Winloss)
		,	SUM(s.BetCount)
	FROM #tmpRawData AS s WITH(NOLOCK)	
	GROUP BY RptDate;

	-- #5. Return data
	SELECT	d.RptDate AS RptDate
		,	ISNULL(r.Turnover, d.Turnover)	AS Turnover
		,	ISNULL(r.Winloss, d.Winloss)	AS Winloss
		,	ISNULL(r.BetCount, d.BetCount)	AS BetCount
	FROM #tmpRptDates AS d WITH(NOLOCK)
		LEFT JOIN #tmpCustomerAccummulatedInfo AS r WITH(NOLOCK) ON d.RptDate = r.RptDate
	ORDER BY d.RptDate ASC;
END;
GO

GRANT EXECUTE ON [dbo].[CTS_CustomerStatistics_GetPerformanceDaily] TO [wsv_cts]
GO
GRANT VIEW DEFINITION ON [dbo].[CTS_CustomerStatistics_GetPerformanceDaily] TO [wsv_cts]
GO