/*<info serverAlias="DBVR2-bodb_VR2Model" executers="wsv_cts" isFunction="0" isNested="0"></info>*/
USE [bodb_VR2Model]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTS_GeneralNormalClassification_DgrAssociation_PerformanceCheck]
		@ListCustId		VARCHAR(MAX)
AS
/*
	Created: 20241204@Jonas.Huynh
	Task : Customer Classification - CC 210x - Device Association
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20241204@Jonas.Huynh: Created [Redmine ID: #214353]
        - 20250923@Long.Luu: 	Add Agents ORI6RM & ORI20RM  as internal account [Redmine ID: #239117]

		Param's Explanation:
    Script:
        EXEC bodb_VR2Model.dbo.[CTS_GeneralNormalClassification_DgrAssociation_PerformanceCheck] @ListCustId = '1,2,3';
*/
BEGIN
	
	SET NOCOUNT ON;
	
	DECLARE @SportGroup_SabaVRSoccer		SMALLINT = 145,
			@SportGroup_SabaVRBasketball	SMALLINT = 912,
			@SportGroup_NonSport			SMALLINT = 229;

	IF OBJECT_ID('tempdb..#tmpCustomers') IS NOT NULL
	BEGIN
		DROP TABLE	#tmpCustomers;
	END

	CREATE TABLE #tmpCustomers (CustId INT PRIMARY KEY);

	IF	OBJECT_ID('tempdb..#tmpRawData') IS NOT NULL
		DROP TABLE	#tmpRawData;

	CREATE TABLE #tmpRawData(
		CustId		INT PRIMARY KEY NOT NULL
	);

	-- #1: Get Customers
    INSERT INTO  #tmpCustomers (CustId) 
	SELECT DISTINCT CAST(value AS INT) CustId 
	FROM STRING_SPLIT(@ListCustId, ',');

	-- #2: Remove SMA or disabled accounts
	DELETE r WITH(ROWLOCK)
	FROM #tmpCustomers AS r
		LEFT JOIN bodb02.dbo.custInfo AS c WITH(NOLOCK) ON r.CustId = c.custid
	WHERE c.[Enabled] = 0 OR c.roleid <> 1;
	
	-- #3: Remove Internal Accounts & oddsfeed site
	DELETE r WITH(ROWLOCK)
	FROM #tmpCustomers AS r
		INNER JOIN bodb02.dbo.Customer AS c WITH(NOLOCK) ON r.CustId = c.custid
	WHERE c.srecommend IN (41430709)
		OR c.mrecommend IN (27899314,11656504,12146012)
		OR c.recommend IN (52466,5707545,29270764,134456,27787409,48367475,93558369,16604398,260963471,260963800)
		OR c.username LIKE '%CashOut'
		OR (c.Site = 'NextBet' OR c.Site = '9wickets' OR c.Site = '9wsports');


	-- #4: Get accummulated performance

	SELECT @ListCustId = STUFF(( SELECT DISTINCT ',', CONVERT(VARCHAR(15), CustId) 
								  FROM #tmpCustomers WITH (NOLOCK)
								  FOR XML PATH('')), 1, 1, '');

	INSERT INTO #tmpRawData(CustId)
	EXEC dbo.Acc_Rpt_CTS_CheckExistAccumulatedBetcount @ListCustID = @ListCustId, @isResetBalance = 1;
		
	SELECT DISTINCT c.CustId
	FROM #tmpCustomers AS c
		LEFT JOIN #tmpRawData AS b ON b.CustId = c.CustId
	WHERE b.CustId IS NULL;

END;
GO