USE [bodb_VR2Model]
GO
/****** Object:  StoredProcedure [dbo].[CTS_Monitor_MissingFPSTrans_GetCustByDate]    Script Date: 6/6/2023 11:21:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[CTS_Monitor_MissingFPSTrans_GetCustByDate]
		@RptDate		DATE
	,	@MinCustID		INT
	,	@BatchSize		INT
AS
/*
	Created: 20230606@Jonathan.Doan
	Task : Get Customer daily
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20230606@Jonathan.Doan: 	Created [Redmine ID: #186127]
		- 20230615@Jonathan.Doan: 	Add BatchSize [Redmine ID: #189732]
        - 20231024@Long.Luu: 		Add Agents HITRM & WINRM as internal account [Redmine ID: #195355]
        - 20231207@Long.Luu: 		Add Agent M999RM00 as internal account [Redmine ID: #197915]
        - 20250923@Long.Luu: 		Add Agents ORI6RM & ORI20RM  as internal account [Redmine ID: #239117]
		 
	Param's Explanation:
		 exec [CTS_Monitor_MissingFPSTrans_GetCustByDate] @rptDate = '2023-06-06', @MinCustID=1280, @BatchSize=2
*/
BEGIN
	
	SET NOCOUNT ON;
	
	SELECT DISTINCT TOP(@BatchSize)
			f.CustID
		,	c.username AS Username
		,	c.site AS SiteName
	FROM bodb_Account.dbo.FactCustStatsInfo AS f WITH(NOLOCK) 
		INNER JOIN bodb_Account.dbo.customer AS c WITH(NOLOCK) ON c.custid = f.CustID
		INNER JOIN bodb02.dbo.custInfo AS ci WITH (NOLOCK) ON ci.custid = f.CustID
	WHERE f.CustID > @MinCustID
		AND f.RptDate = @rptDate
		/* Filter UUS customer */
		AND ci.currency NOT IN (20, 27, 28)
		/* Filter internal customer */
		AND ci.[Enabled] = 1
		AND ci.roleid = 1
		AND ci.srecommend NOT IN (41430709)
		AND ci.mrecommend NOT IN (27899314, 11656504, 12146012)
		AND ci.recommend NOT IN (52466, 5707545, 29270764, 134456, 27787409, 48367475, 93558369, 16604398,260963471,260963800)
		AND ci.username NOT LIKE '%CashOut'
		/* Remove oddsfeed site */
		AND c.site NOT IN ('NextBet', '9wickets', '9wsports')
	ORDER BY f.CustID ASC;

END;

GRANT EXECUTE ON [dbo].[CTS_Monitor_MissingFPSTrans_GetCustByDate] TO [bodbSPUNet]
GO
GRANT VIEW DEFINITION ON [dbo].[CTS_Monitor_MissingFPSTrans_GetCustByDate] TO [bodbSPUNet]
GO