/*<info serverAlias="DBVR2-bodb_VR2Model" executers="wsv_cts" isFunction="0" isNested="0"></info>*/
USE [bodb_VR2Model]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTS_GeneralNormalClassificationAgency_NormalAccount_Get]
	@ScannedMaxId BIGINT OUTPUT
AS
/*
	Created: 20241010@Jonas.Huynh
	Task : Get new normal account classification
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20241010@Jonas.Huynh: Created [Redmine ID: #185799]

	Param's Explanation:

    Script:
		DECLARE @ScannedMaxId BIGINT;
        EXEC bodb_VR2Model.dbo.CTS_GeneralNormalClassificationAgency_NormalAccount_Get @ScannedMaxId = @ScannedMaxId OUTPUT;
		SELECT @ScannedMaxId;
*/

BEGIN
	
	SET NOCOUNT ON;

	DECLARE @BATCHSIZE					SMALLINT = 10000;
	DECLARE @GENERAL_LASTSCANNEDROW		SMALLINT = 1000;

	DECLARE @LastScannedRow				ROWVERSION;
	DECLARE @NextScannedRow				ROWVERSION;	

	IF	OBJECT_ID('tempdb..#tmpRawData') IS NOT NULL
	DROP TABLE	#tmpRawData;

	CREATE TABLE #tmpRawData(
		ID						BIGINT NOT NULL PRIMARY KEY,
		[RowVersion]			BIGINT NOT NULL,
		CustId					INT,
		CategoryId				INT,
		CategoryGroupId			INT,
		CreatedTime				DATETIME,
		TurnoverRM				DECIMAL(19, 4),
		WinlossRM				DECIMAL(19, 4),
		BetCount				INT,
		FirstBetDate			DATETIME,
		LastXDaysTurnoverRM		DECIMAL(19, 4),
		LastXDaysWinlossRM		DECIMAL(19, 4),
		LastXDaysBetCount		INT,
		LastYDaysTurnoverRM		DECIMAL(19, 4),
		LastYDaysWinlossRM		DECIMAL(19, 4),
		LastYDaysBetCount		INT,
		PerformanceTime			DATETIME
	);

	SELECT @NextScannedRow = MAX([RowVersion]) FROM dbo.CustomerClassificationAgency WITH(NOLOCK);
	SELECT @LastScannedRow = CAST(CAST([Value] AS BIGINT) AS ROWVERSION) FROM dbo.CustomerClassification_Parameter WITH(NOLOCK) WHERE [DataId] = @GENERAL_LASTSCANNEDROW;

	INSERT INTO #tmpRawData(ID, CustId, CategoryId, CategoryGroupId, CreatedTime, TurnoverRM, WinlossRM, BetCount, FirstBetDate, LastXDaysTurnoverRM, LastXDaysWinlossRM, LastXDaysBetCount, LastYDaysTurnoverRM, LastYDaysWinlossRM, LastYDaysBetCount, PerformanceTime, [RowVersion])
	SELECT TOP (@BATCHSIZE) c.ID
		,	c.CustId
		,	c.CategoryId
		,	c.CategoryId
		,	c.CreatedTime
		,	c.TurnoverRM
		,	c.WinlossRM
		,	c.BetCount
		,	c.FirstBetDate
		,	c.LastXDaysTurnoverRM
		,	c.LastXDaysWinlossRM
		,	c.LastXDaysBetCount
		,	c.LastYDaysTurnoverRM
		,	c.LastYDaysWinlossRM
		,	c.LastYDaysBetCount
		,	c.PerformanceTime
		,	CAST(c.[RowVersion] AS BIGINT)
	FROM dbo.CustomerClassificationAgency AS c WITH(NOLOCK)
	WHERE c.[RowVersion] > @LastScannedRow 
		AND c.[RowVersion] <= @NextScannedRow
	ORDER BY c.[RowVersion] ASC;

	SELECT @ScannedMaxId = Max([RowVersion])
	FROM #tmpRawData WITH (NOLOCK);

	SELECT	b.CustId
		,	b.CategoryId
		,	b.CategoryGroupId
		,	b.CreatedTime
		,	b.TurnoverRM
		,	b.WinlossRM
		,	b.BetCount
		,	b.FirstBetDate
		,	b.LastXDaysTurnoverRM
		,	b.LastXDaysWinlossRM
		,	b.LastXDaysBetCount
		,	b.LastYDaysTurnoverRM
		,	b.LastYDaysWinlossRM
		,	b.LastYDaysBetCount
		,	b.PerformanceTime
	FROM (
			SELECT	c.CustId
				,	c.CategoryId
				,	c.CategoryGroupId
				,	c.CreatedTime
				,	c.TurnoverRM
				,	c.WinlossRM
				,	c.BetCount
				,	c.FirstBetDate
				,	c.LastXDaysTurnoverRM
				,	c.LastXDaysWinlossRM
				,	c.LastXDaysBetCount
				,	c.LastYDaysTurnoverRM
				,	c.LastYDaysWinlossRM
				,	c.LastYDaysBetCount
				,	c.PerformanceTime
				,	ROW_NUMBER() OVER(PARTITION BY c.CustId ORDER BY c.ID DESC) AS RowNum
			FROM #tmpRawData AS c
		 ) AS b 
	WHERE b.RowNum = 1;

	DROP TABLE	#tmpRawData;
END;
GO

GRANT EXECUTE ON [dbo].[CTS_GeneralNormalClassificationAgency_NormalAccount_Get] TO [wsv_cts]
GO
GRANT VIEW DEFINITION ON [dbo].[CTS_GeneralNormalClassificationAgency_NormalAccount_Get] TO [wsv_cts]
GO