USE [bodb_VR2Model]
GO
/****** Object:  StoredProcedure [dbo].[CTS_CustomerClassification_GetPerformance]    Script Date: 9/6/2022 11:08:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[CTS_CustomerClassification_GetPerformance]
		@CustIdList			VARCHAR(MAX)
AS
/*
	Created: 20211110@Long.Luu
	Task : Get Customer Performance
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20211110@Long.Luu: Created [Redmine ID: #164148]
		- 20221118@Jonas.Huynh: Update parameter of DW SP GetCustAccumulatedInfo [Redmine ID: #179500]
		- 20230601@Jonas.Huynh: Update SP get accumulated performance (Renovate Phase2) [Redmine ID: #186684]

	Param's Explanation:
		- @PerformanceMode: 1 - Accummulated Performance, 2 - Performance By Range

	Example:
		- exec dbo.[CTS_CustomerClassification_GetPerformance] @CustIdList = '8';
*/
BEGIN
	
	SET NOCOUNT ON;

	IF	OBJECT_ID('tempdb..#tmpRawData') IS NOT NULL
		DROP TABLE	#tmpRawData;

	CREATE TABLE #tmpRawData(
		CustId				 INT			NOT NULL,
		SportGroup			 INT			NOT NULL,
		TurnoverRM			 DECIMAL(19, 4)	NOT NULL,
		WinlossRM			 DECIMAL(19, 4)	NOT NULL,
		TurnoverORG			 DECIMAL(19, 4)	NOT NULL,
		WinlossORG			 DECIMAL(19, 4)	NOT NULL,
		BetCount			 BIGINT			NOT NULL,
		ActiveDaysCustID	 INT			NOT NULL,
        ActiveDaysSportGroup INT			NOT NULL,
        WindaysCustID		 INT			NOT NULL,
        WinDaysSportGroup	 INT			NOT NULL,
		ProcessedTime        DATETIME       NOT NULL

		PRIMARY KEY CLUSTERED (CustId, SportGroup)
	);

	-- START
	-- #0: GetCustomer Accummulated data
	INSERT INTO #tmpRawData(CustId, SportGroup, TurnoverRM, WinlossRM, TurnoverORG, WinlossORG, BetCount, ActiveDaysCustID, ActiveDaysSportGroup, WindaysCustID, WinDaysSportGroup, ProcessedTime)
	EXEC bodb_dwrs.dbo.Acc_Rpt_CTS_GetCustAccumulatedInfo @ListCustID = @CustIdList;

	-- #1: Get the results
	SELECT	a.CustId
		,	SUM(a.TurnoverRM)		AS Turnover
		,	SUM(a.WinlossRM)		AS Winloss
		,	SUM(a.BetCount)			AS BetCount
		,	MAX(a.ActiveDaysCustID) AS ActiveDays
	FROM #tmpRawData AS a WITH(NOLOCK)
	GROUP BY a.CustId;
	
END;

