/*<info serverAlias="DBVR2-bodb_VR2Model" executers="wsv_cts" isFunction="0" isNested="0"></info>*/
USE [bodb_VR2Model]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTS_GeneralNormalClassification_NormalAccount_Complete]
	@ScannedMaxId BIGINT
AS
/*
	Created: 20200901@Long.Luu
	Task : 
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20200901@Long.Luu: Created [Redmine ID: #137550]
		- 20230405@Jonas.Huynh: Modify betcount schedule for Normal & Good Member [Redmine ID: #185633]
		- 20230425@Jonas.Huynh: Realtime Renovation [Redmine ID: #186678]
		- 20240216@Jonas.Huynh: Resolve Blocking [Redmine ID: #200973]
		- 20240327@Jonas.Huynh: EC2024 - Resolve Locking [Redmine ID: #200842]
		- 20241226@Jonas.Huynh: HF Incorrect CC  [Redmine ID: #214058]

	Param's Explanation:
		@ScannedMaxId: To remove customer who are processed base on scanned maxID and ListCustId
    Script:
        EXEC bodb_VR2Model.dbo.CTS_GeneralNormalClassification_NormalAccount_Complete @ScannedMaxId = 123;
*/

BEGIN
	
	SET NOCOUNT ON;

	DECLARE @GENERAL_LASTSCANNEDID		TINYINT = 3;

	IF @ScannedMaxId IS NOT NULL
	BEGIN
		UPDATE c WITH (ROWLOCK, UPDLOCK)
		SET c.Value = @ScannedMaxId
		FROM dbo.CustomerClassification_Parameter AS c
		WHERE c.DataId = @GENERAL_LASTSCANNEDID;
	END;	
END;
GO

GRANT EXECUTE ON [dbo].[CTS_GeneralNormalClassification_NormalAccount_Complete] TO [wsv_cts]
GO
GRANT VIEW DEFINITION ON [dbo].[CTS_GeneralNormalClassification_NormalAccount_Complete] TO [wsv_cts]
GO
