/*<info serverAlias="DBVR2-bodb_VR2Model" executers="wsv_cts" isFunction="0" isNested="0"></info>*/
USE [bodb_VR2Model]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[CTS_GeneralNormalClassificationAgency_RealTime_GetChanges]
	@ScannedMaxId BIGINT OUTPUT
AS
/*
	Created: 20241003@Jonas.Huynh
	Task : Get Customers who have new changed data 
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20241003@Jonas.Huynh: Created [Redmine ID: #185799]

	Param's Explanation:

    Script:
		DECLARE @ScannedMaxId BIGINT
        EXEC bodb_VR2Model.dbo.[CTS_GeneralNormalClassificationAgency_RealTime_GetChanges] @ScannedMaxId = @ScannedMaxId OUTPUT;
		SELECT @ScannedMaxId
*/
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @BatchSize INT = 20000;

	IF	OBJECT_ID('tempdb..#tmpResult') IS NOT NULL
	DROP TABLE	#tmpResult;

	CREATE TABLE #tmpResult(
		Id		BIGINT PRIMARY KEY,
		CustId	INT
	);

	-- #1: Get TOP data from pool 
	INSERT INTO #tmpResult(Id, CustId)
	SELECT TOP (@BatchSize) c.ID, c.CustId
	FROM dbo.[CustomerClassificationAgency_RealtimeChanges] AS c WITH(NOLOCK)
	ORDER BY c.ID ASC;

	--#2: Get MaxId
	SELECT @ScannedMaxId = MAX(ID)
	FROM #tmpResult AS a

	--#3: Return output
	SELECT DISTINCT CustId
	FROM #tmpResult;

END;
GO

GRANT EXECUTE ON [dbo].[CTS_GeneralNormalClassificationAgency_RealTime_GetChanges] TO [wsv_cts]
GO
GRANT VIEW DEFINITION ON [dbo].[CTS_GeneralNormalClassificationAgency_RealTime_GetChanges] TO [wsv_cts]
GO