/*<info serverAlias="DBVR2-bodb_VR2Model" executers="bodbSPUNet" isFunction="0" isNested="0"></info>*/
USE [bodb_VR2Model]
GO
/****** Object:  StoredProcedure [dbo].[CTS_NormalClassification_RealTime_UpdateNextScannedTime]    Script Date: 4/26/2023 11:40:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[CTS_NormalClassification_RealTime_UpdateNextScannedTime]
		@NextScannedDateTime1 DATETIME2 = NULL
	,	@NextScannedDateTime2 DATETIME2 = NULL
	,	@NextScannedDateTime3 DATETIME2 = NULL
	,	@NextScannedDateTime4 DATETIME2 = NULL
AS
/*
	Created: 20230425@Jonas.Huynh
	Task : Update RealTime NextScannedTime
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20230425@Jonas.Huynh: Realtime Renovation [Redmine ID: #186678]
		- 20240220@Jonas.Huynh: HF Incorrect Category - Missing Signal from DW [Redmine ID: #201012]

	Param's Explanation:
		EXEC [dbo].[CTS_NormalClassification_RealTime_UpdateNextScannedTime] @NextScannedDateTime1 = '2023-02-10 00:00:00.000'
																		 ,	 @NextScannedDateTime2 = '2023-02-10 00:00:00.000'
																		 ,	 @NextScannedDateTime3 = '2023-02-10 00:00:00.000'
																		 ,	 @NextScannedDateTime4 = '2023-02-10 00:00:00.000';

*/
BEGIN
	SET NOCOUNT ON;

	DECLARE @SystemParameter_LastScan1	 TINYINT = 10;
	DECLARE @SystemParameter_LastScan2   TINYINT = 11;	
	DECLARE @SystemParameter_LastScan3   TINYINT = 12;	
	DECLARE @SystemParameter_LastScan4   TINYINT = 13;

	DECLARE	@FromScannedDateTime1 DATETIME2;
	DECLARE	@FromScannedDateTime2 DATETIME2;
	DECLARE	@FromScannedDateTime3 DATETIME2;
	DECLARE	@FromScannedDateTime4 DATETIME2;

	SELECT @FromScannedDateTime1 = CONVERT(DATETIME2, [Value], 121)	FROM dbo.CustomerClassification_Parameter WITH(NOLOCK)	WHERE DataId = @SystemParameter_LastScan1;
	SELECT @FromScannedDateTime2 = CONVERT(DATETIME2, [Value], 121)	FROM dbo.CustomerClassification_Parameter WITH(NOLOCK)	WHERE DataId = @SystemParameter_LastScan2;
	SELECT @FromScannedDateTime3 = CONVERT(DATETIME2, [Value], 121)	FROM dbo.CustomerClassification_Parameter WITH(NOLOCK)	WHERE DataId = @SystemParameter_LastScan3;
	SELECT @FromScannedDateTime4 = CONVERT(DATETIME2, [Value], 121)	FROM dbo.CustomerClassification_Parameter WITH(NOLOCK)	WHERE DataId = @SystemParameter_LastScan4;

	IF (@NextScannedDatetime1 IS NOT NULL AND @NextScannedDatetime1 > @FromScannedDateTime1)
		BEGIN
			UPDATE dbo.CustomerClassification_Parameter WITH(ROWLOCK, UPDLOCK)
			SET [Value] = CONVERT(VARCHAR(200), @NextScannedDateTime1)
			WHERE DataId = @SystemParameter_LastScan1;
		END;

	IF (@NextScannedDatetime2 IS NOT NULL AND @NextScannedDatetime2 > @FromScannedDateTime2)
		BEGIN
			UPDATE dbo.CustomerClassification_Parameter WITH(ROWLOCK, UPDLOCK)
			SET [Value] = CONVERT(VARCHAR(200), @NextScannedDateTime2)
			WHERE DataId = @SystemParameter_LastScan2;
		END;
	
	IF (@NextScannedDatetime3 IS NOT NULL AND @NextScannedDatetime3 > @FromScannedDateTime3)
		BEGIN
			UPDATE dbo.CustomerClassification_Parameter WITH(ROWLOCK, UPDLOCK)
			SET [Value] = CONVERT(VARCHAR(200), @NextScannedDateTime3)
			WHERE DataId = @SystemParameter_LastScan3;
		END;

	IF (@NextScannedDatetime4 IS NOT NULL AND @NextScannedDatetime4 > @FromScannedDateTime4)
		BEGIN
			UPDATE dbo.CustomerClassification_Parameter WITH(ROWLOCK, UPDLOCK)
			SET [Value] = CONVERT(VARCHAR(200), @NextScannedDateTime4)
			WHERE DataId = @SystemParameter_LastScan4;
		END;
END;
GO

GRANT EXECUTE ON [dbo].[CTS_NormalClassification_RealTime_UpdateNextScannedTime] TO [bodbSPUNet]
GO
GRANT VIEW DEFINITION ON [dbo].[CTS_NormalClassification_RealTime_UpdateNextScannedTime] TO [bodbSPUNet]
GO