USE [bodb_VR2Model]
GO
/****** Object:  StoredProcedure [dbo].[CTS_BySportNormalClassification_RealTime_Preprocess]    Script Date: 4/26/2023 2:18:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTS_BySportNormalClassification_RealTime_Preprocess]
	@CustomersXML	XML
AS
/*
	Created: 20230630@Jonas.Huynh
	Task : Get Customers who have new changed data 
	DB: bodb_VR2Model
	Original:

	Revisions:
		20230630@Jonas.Huynh: Created [Redmine ID: #189875]

		Param's Explanation:

    Script:
        EXEC bodb_VR2Model.dbo.[CTS_BySportNormalClassification_RealTime_Preprocess]  
							@CustomersXML = N'<Root>
								<r CustId="5002646" SportGroup="2"/>
								<r CustId="5022391" SportGroup="2"/>
							</Root>';
*/
BEGIN
	
	SET NOCOUNT ON;
		DECLARE	@FunctionId				SMALLINT = 1;

		DECLARE	@Priority				SMALLINT,
				@Priority_GroupId		TINYINT = 1,
				@Priority_ActionUnknown SMALLINT = 9999;

		IF OBJECT_ID('tempdb..#tmpCustomers') IS NOT NULL
		BEGIN
			DROP TABLE	#tmpCustomers;
		END

		CREATE TABLE #tmpCustomers (
			CustId		INT,
			SportGroup	INT
			PRIMARY KEY (CustId, SportGroup)
		);

		-- #1: Get Customers
		INSERT INTO #tmpCustomers(CustId, SportGroup)
		SELECT	T.C.value('./@CustId', 'INT')				AS CustId
			,	T.C.value('./@SportGroup', 'SMALLINT')		AS SportGroup
		FROM @CustomersXML.nodes('//r') AS T(C)
		OPTION (OPTIMIZE FOR (@CustomersXML = NULL));

		-- #2: Get priority
		SELECT @Priority = ISNULL(p.[Priority], @Priority_ActionUnknown)  
		FROM dbo.CustomerClassification_BySport_Priority AS p WITH(NOLOCK)
		WHERE p.GroupId = @Priority_GroupId AND p.FunctionId = @FunctionId;

		-- #3: Insert Normal Classification Pool
		EXEC dbo.CTS_BySportNormalClassification_NormalPool_Insert @FunctionId = @FunctionId, @Priority = @Priority;
END;
GO

GRANT EXECUTE ON [dbo].[CTS_BySportNormalClassification_RealTime_Preprocess] TO [bodbSPUNet]
GO
GRANT VIEW DEFINITION ON [dbo].[CTS_BySportNormalClassification_RealTime_Preprocess] TO [bodbSPUNet]
GO