/*<info serverAlias="DBVR2-bodb_VR2Model" executers="wsv_cts" isFunction="0" isNested="0"></info>*/
USE [bodb_VR2Model]
GO
/****** Object:  StoredProcedure [dbo].[CTS_GeneralNormalClassification_RescanNormal_Preprocess]     Script Date: 06/01/2023 2:56:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTS_GeneralNormalClassification_RescanNormal_Preprocess]
		@ListCustId		VARCHAR(MAX),
		@FunctionId		SMALLINT,
		@RescanTypeId	TINYINT
AS
/*
	Created: 20230601@Jonas.Huynh
	Task : Insert custIds to Normal Classification pool
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20230601@Jonas.Huynh: Created [Redmine ID: #186684]
        - 20231024@Long.Luu: 	Add Agent HITRM & WINRM as internal account [Redmine ID: #195355]
        - 20231207@Long.Luu: 	Add Agent M999RM00 as internal account [Redmine ID: #197915]
		- 20241011@Jonas.Huynh: Agency Classification [Redmine ID: #185799]
        - 20250923@Long.Luu: 	Add Agents ORI6RM & ORI20RM  as internal account [Redmine ID: #239117]

		Param's Explanation:
			@RescanTypeId : 1.Manual Action (WEB/API) - 2.Auto(NewCustomer/Reactivated) - 3.Auto(Affected Downline)
    Script:
        EXEC bodb_VR2Model.dbo.[CTS_GeneralNormalClassification_RescanNormal_Preprocess]  @ListCustId = '1,2,3',
																						  @FunctionId = 1
																						  @RescanTypeId = 1;
*/
BEGIN
	
	SET NOCOUNT ON;

	DECLARE	@Priority_GroupId			TINYINT = 1;
	DECLARE	@Priority_ActionUnknown		SMALLINT = 9999;
	DECLARE @Priority					SMALLINT = @Priority_ActionUnknown;

	IF OBJECT_ID('tempdb..#tmpCustomers') IS NOT NULL
	BEGIN
		DROP TABLE	#tmpCustomers;
	END

	CREATE TABLE #tmpCustomers (CustId INT PRIMARY KEY);

	-- #1: Get Customers
    INSERT INTO  #tmpCustomers (CustId) 
	SELECT DISTINCT CAST(value AS INT) CustId 
	FROM STRING_SPLIT(@ListCustId, ',');

	-- #2: Remove SMA or disabled accounts
	DELETE r WITH(ROWLOCK)
	FROM #tmpCustomers AS r
		LEFT JOIN bodb02.dbo.custInfo AS c WITH(NOLOCK) ON r.CustId = c.custid
	WHERE c.[Enabled] = 0 OR c.roleid <> 1;
	
	-- #3: Remove Internal Accounts & oddsfeed site
	DELETE r WITH(ROWLOCK)
	FROM #tmpCustomers AS r
		INNER JOIN bodb02.dbo.Customer AS c WITH(NOLOCK) ON r.CustId = c.custid
	WHERE c.srecommend IN (41430709)
		OR c.mrecommend IN (27899314,11656504,12146012)
		OR c.recommend IN (52466,5707545,29270764,134456,27787409,48367475,93558369,16604398,260963471,260963800)
		OR c.username LIKE '%CashOut'
		OR (c.Site = 'NextBet' OR c.Site = '9wickets' OR c.Site = '9wsports');

	-- #4: Get priority
	SELECT @Priority = p.[Priority]
	FROM dbo.CustomerClassification_Priority AS p WITH(NOLOCK)
	WHERE p.GroupId = @Priority_GroupId AND p.FunctionId = @RescanTypeId;

	-- #5: Insert Normal Classification Pool
	EXEC dbo.CTS_GeneralNormalClassification_NormalPool_Insert @FunctionId = @FunctionId, @Priority = @Priority;

END;
GO