/*<info serverAlias="DBVR2-bodb_VR2Model" executers="wsv_cts" isFunction="0" isNested="0"></info>*/
USE [bodb_VR2Model]
GO
/****** Object:  StoredProcedure [dbo].[CTS_BySportNormalClassification_RescanNormal_Preprocess]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTS_BySportNormalClassification_RescanNormal_Preprocess]
		@ListCustId		VARCHAR(MAX),
		@FunctionId		SMALLINT,
		@QueryType		TINYINT = 1
AS
/*
	Created: 20230601@Jonas.Huynh
	Task : Insert custIds to Normal Classification pool
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20230726@Jonas.Huynh: Created [Redmine ID: #185320]
        - 20231024@Long.Luu: 		Add Agent HITRM & WINRM as internal account [Redmine ID: #195355]
        - 20231207@Long.Luu: 		Add Agent M999RM00 as internal account [Redmine ID: #197915]
		- 20240319@Thomas.Nguyen: 	Add input param @QueryType and process for manual action by sport [Redmine ID: #201360]
        - 20250923@Long.Luu: 		Add Agents ORI6RM & ORI20RM  as internal account [Redmine ID: #239117]

	Param's Explanation:
		@QueryType --> 1: Service flow, 2: Manual flow
    Script:
        - EXEC bodb_VR2Model.dbo.[CTS_BySportNormalClassification_RescanNormal_Preprocess]  @ListCustId = '1,2,3',@FunctionId = 4;
		- EXEC bodb_VR2Model.dbo.[CTS_BySportNormalClassification_RescanNormal_Preprocess]  @ListCustId = '[{"CustID":999,"SportID":1}]', @FunctionId = 5, @QueryType = 2;
*/
BEGIN
	
	SET NOCOUNT ON;

	DECLARE	@ToDate					DATE	 = GETDATE();
	DECLARE @From30Date				DATE	 = DATEADD(DAY, -29, @ToDate);

	DECLARE	@Priority				SMALLINT,
			@Priority_GroupId		TINYINT = 1,
			@Priority_ActionUnknown SMALLINT = 9999;

	IF OBJECT_ID('tempdb..#tmpCustomers') IS NOT NULL
	BEGIN
		DROP TABLE	#tmpCustomers;
	END

	CREATE TABLE #tmpCustomers (
		CustId		INT,
		SportGroup	INT
		PRIMARY KEY (CustId, SportGroup)
	);

	IF @QueryType = 1
	BEGIN
		CREATE TABLE #tmpRawCustomers (CustId INT PRIMARY KEY);

		-- #1: Get Customers
		INSERT INTO  #tmpRawCustomers (CustId) 
		SELECT DISTINCT CAST(value AS INT) CustId 
		FROM STRING_SPLIT(@ListCustId, ',');

		-- #2: Remove SMA or disabled accounts
		DELETE r WITH(ROWLOCK)
		FROM #tmpRawCustomers AS r
			LEFT JOIN bodb02.dbo.custInfo AS c WITH(NOLOCK) ON r.CustId = c.custid
		WHERE c.[Enabled] = 0 OR c.roleid <> 1;
		
		-- #3: Remove Internal Accounts & oddsfeed site
		DELETE r WITH(ROWLOCK)
		FROM #tmpRawCustomers AS r
			INNER JOIN bodb02.dbo.Customer AS c WITH(NOLOCK) ON r.CustId = c.custid
		WHERE c.srecommend IN (41430709)
			OR c.mrecommend IN (27899314,11656504,12146012)
			OR c.recommend IN (52466,5707545,29270764,134456,27787409,48367475,93558369,16604398,260963471,260963800)
			OR c.username LIKE '%CashOut'
			OR (c.Site = 'NextBet' OR c.Site = '9wickets' OR c.Site = '9wsports');

		-- #4: Get customer classification
		INSERT INTO #tmpCustomers (CustId, SportGroup)
		SELECT DISTINCT a.CustId, c.SportGroup
		FROM #tmpRawCustomers AS a
			INNER JOIN dbo.CustomerClassification_BySport_LatestActiveDay AS c WITH(NOLOCK) ON a.CustId = c.CustId 
		WHERE c.LastTransDate >= @From30Date;
	END
	ELSE IF @QueryType = 2
	BEGIN
		INSERT INTO #tmpCustomers (CustId, SportGroup)
		SELECT	js.CustID
			,	js.SportID
		FROM	OPENJSON(@ListCustId) WITH (
						CustID			INT			'$.CustID'
					,	SportID			SMALLINT	'$.SportID'
		) AS js;

		-- Remove Internal Accounts & oddsfeed site
		DELETE r WITH(ROWLOCK)
		FROM #tmpCustomers AS r
			INNER JOIN bodb02.dbo.Customer AS c WITH(NOLOCK) ON r.CustId = c.custid
		WHERE c.srecommend IN (41430709)
			OR c.mrecommend IN (27899314,11656504,12146012)
			OR c.recommend IN (52466,5707545,29270764,134456,27787409,48367475,93558369,16604398,260963471,260963800)
			OR c.username LIKE '%CashOut'
			OR (c.Site = 'NextBet' OR c.Site = '9wickets' OR c.Site = '9wsports');
	END
	-- #5: Get priority
	SELECT @Priority = ISNULL(p.[Priority], @Priority_ActionUnknown)  
	FROM dbo.CustomerClassification_BySport_Priority AS p WITH(NOLOCK)
	WHERE p.GroupId = @Priority_GroupId AND p.FunctionId = @FunctionId;

	-- #6: Insert Normal Classification Pool
	EXEC dbo.CTS_BySportNormalClassification_NormalPool_Insert @FunctionId = @FunctionId, @Priority = @Priority;

END;
GO


