USE [bodb_VR2Model]
GO
/****** Object:  StoredProcedure [dbo].[CTS_GeneralNormalClassification_RealTime_GetChanges]    Script Date: 4/26/2023 2:18:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[CTS_GeneralNormalClassification_RealTime_GetChanges]
	@ScannedMaxId BIGINT OUTPUT
AS
/*
	Created: 20200901@Long.Luu
	Task : Get Customers who have new changed data 
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20200901@Long.Luu: Created [Redmine ID: #137550]
		- 20210730@John.Ngo: [CTS] New way to store Closed Status [Redmine ID: #152259]
		- 20280628@Long.Luu: Exclude more Internal Accounts [Redmine ID: #174430]
		- 20221125@Jonas.Huynh: Combine Realtime Flow of General CC and By Sport [Redmine ID: #180805]
		- 20230425@Jonas.Huynh: Realtime Renovation [Redmine ID: #186678]
		- 20230601@Jonas.Huynh: Normal Renovation (Phase 2) [Redmine ID: #186684]

	Param's Explanation:

    Script:
		DECLARE @ScannedMaxId BIGINT
        EXEC bodb_VR2Model.dbo.[CTS_GeneralNormalClassification_RealTime_GetChanges] @ScannedMaxId = @ScannedMaxId OUTPUT;
		SELECT @ScannedMaxId
*/
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @BatchSize INT = 20000;

	IF	OBJECT_ID('tempdb..#tmpResult') IS NOT NULL
	DROP TABLE	#tmpResult;

	CREATE TABLE #tmpResult(
		Id		BIGINT PRIMARY KEY,
		CustId	INT
	);

	-- #1: Get TOP data from pool 
	INSERT INTO #tmpResult(Id, CustId)
	SELECT TOP (@BatchSize) c.ID, c.CustId
	FROM dbo.CustomerClassification_RealtimeChanges AS c WITH(NOLOCK)
	ORDER BY c.ID ASC;

	--#2: Get MaxId
	SELECT @ScannedMaxId = MAX(ID)
	FROM #tmpResult AS a

	--#3: Return output
	SELECT DISTINCT CustId
	FROM #tmpResult;

END;
GO

GRANT EXECUTE ON [dbo].[CTS_GeneralNormalClassification_RealTime_GetChanges] TO [bodbSPUNet]
GO
GRANT VIEW DEFINITION ON [dbo].[CTS_GeneralNormalClassification_RealTime_GetChanges] TO [bodbSPUNet]
GO