/*<info serverAlias="DBVR2-bodb_VR2Model" executers="wsv_cts" isFunction="0" isNested="0"></info>*/
USE [bodb_VR2Model]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CTS_GeneralNormalClassificationAgency_NormalAccount_Complete]
	@ScannedMaxId BIGINT
AS
/*
	Created: 20241010@Jonas.Huynh
	Task : 
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20241010@Jonas.Huynh: Created [Redmine ID: #185799]


	Param's Explanation:
		@ScannedMaxId: To remove customer who are processed base on scanned maxID and ListCustId
    Script:
        EXEC bodb_VR2Model.dbo.CTS_GeneralNormalClassificationAgency_NormalAccount_Complete @ScannedMaxId = 123;
*/

BEGIN
	
	SET NOCOUNT ON;

	DECLARE @GENERAL_LASTSCANNEDROW		SMALLINT = 1000;

	IF @ScannedMaxId IS NOT NULL
	BEGIN
		UPDATE c WITH (ROWLOCK, UPDLOCK)
		SET c.Value = CONVERT(VARCHAR(200), @ScannedMaxId)
		FROM dbo.CustomerClassification_Parameter AS c
		WHERE c.DataId = @GENERAL_LASTSCANNEDROW;
	END;	
END;
GO

GRANT EXECUTE ON [dbo].[CTS_GeneralNormalClassificationAgency_NormalAccount_Complete] TO [wsv_cts]
GO
GRANT VIEW DEFINITION ON [dbo].[CTS_GeneralNormalClassificationAgency_NormalAccount_Complete] TO [wsv_cts]
GO
