--USE bodb_VR2Model;

ALTER PROCEDURE [dbo].[CTS_CustomerClassification_GetPerformance]
		@CustIdList			VARCHAR(MAX)
AS
/*
	Created: 20211110@Long.Luu
	Task : Get Customer Performance
	DB: bodb_VR2Model
	Original:

	Revisions:
		- 20211110@Long.Luu: Created [Redmine ID: #164148]

	Param's Explanation:
		- @PerformanceMode: 1 - Accummulated Performance, 2 - Performance By Range

	Example:
		- exec dbo.[CTS_CustomerClassification_GetPerformance] @CustIdList = '8';
*/
BEGIN
	
	SET NOCOUNT ON;

	IF	OBJECT_ID('tempdb..#tmpRawData') IS NOT NULL
		DROP TABLE	#tmpRawData;

	CREATE TABLE #tmpRawData(
		[CustId]			INT NOT NULL,
		[MainDBSportId]		INT NOT NULL,
		[TurnoverRM]		MONEY NULL,
		[WinlossRM]			MONEY NULL,
		[TurnoverORG]		MONEY NULL,
		[WinlossORG]		MONEY NULL,
		[BetCount]			BIGINT NULL,
		[ActiveDays]		INT NULL,
		PRIMARY KEY (CustId, MainDBSportId)
	);

	-- START
	-- #0: GetCustomer Accummulated data
	INSERT INTO #tmpRawData(CustId, MainDBSportId, TurnoverRM, WinlossRM, TurnoverORG, WinlossORG, BetCount, ActiveDays)
	EXEC bodb_dwrs.dbo.Acc_Rpt_GetCustAccumulatedInfo_Realtime_ByListCustID  @ListCustID = @CustIdList;
	
	-- #1: Get the results
	SELECT	a.CustId
		,	SUM(a.TurnoverRM) AS Turnover
		,	SUM(a.WinlossRM) AS Winloss
		,	SUM(a.BetCount) AS BetCount
		,	MAX(a.ActiveDays) AS ActiveDays
	FROM #tmpRawData AS a WITH(NOLOCK)
	GROUP BY a.CustId;
	
END;

GO
GRANT EXECUTE ON [dbo].[CTS_CustomerClassification_GetPerformance] TO [bodbSPUNet]
GO
GRANT VIEW DEFINITION ON [dbo].[CTS_CustomerClassification_GetPerformance] TO [bodbSPUNet ]
GO